@import "nhsuk-frontend/packages/core/settings/globals";
@import "nhsuk-frontend/packages/core/settings/colours";
@import "../../../../scss/material/variables";

.mat-toolbar-row,
.mat-toolbar-single-row {
  @media screen and (max-width: $xsmall) {
    height: 72px;
  }
}

a.logo-icon {
  width: 100px;
  height: 40px;
  line-height: 1;
  padding: 0;
  svg {
    width: 100% !important;
    height: 100% !important;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 90%;
}

.icon_nhs_logo.mat-icon {
  width: 100px;
  height: 40px;

  &:hover {
    box-shadow: 0 0 0 $nhsuk-focus-width $color_shade_nhsuk-blue-35;
  }
}

.fill-space {
  flex: 1 1 auto;
  padding-left: 16px;
}

.mat-mdc-icon-button,
.mat-drawer {
  &.hidden {
    display: none;
  }
}
