<div
  class="recommendation-details"
  [ngClass]="{ 'large-display': (isHandset$ | async) === false }"
  *ngIf="traineeDetails$ | async as traineeDetails"
>
  <mat-list>
    <mat-list-item>
      <div class="mat-caption" mat-line>Name:</div>
      <div mat-line>
        {{ traineeDetails.forenames }} {{ traineeDetails.surname }}
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="mat-caption" mat-line>GMC No:</div>
      <div mat-line>{{ traineeDetails.gmcNumber }}</div>
    </mat-list-item>
    <mat-list-item>
      <div class="mat-caption" mat-line>Programme membership type:</div>
      <div mat-line>
        {{
          traineeDetails.programmeMembershipType === null
            ? "N/A"
            : traineeDetails.programmeMembershipType
        }}
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="mat-caption" mat-line>Current programme name:</div>
      <div
        *ngIf="traineeDetails.programmeName; else NoProgramme"
        mat-line
        class="programme-names"
        [innerHTML]="traineeDetails.programmeName | splitStringToHTML: ' | '"
      ></div>
      <ng-template #NoProgramme mat-line class="programme-names"
        >N/A</ng-template
      >
    </mat-list-item>

    <mat-list-item>
      <div class="mat-caption" mat-line>Current grade:</div>
      <div mat-line>
        {{
          traineeDetails.currentGrade === null
            ? "N/A"
            : traineeDetails.currentGrade
        }}
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="mat-caption" mat-line>Curriculum end date:</div>
      <div mat-line>
        {{
          traineeDetails.curriculumEndDate === null
            ? "N/A"
            : (traineeDetails.curriculumEndDate | date: dateFormat)
        }}
      </div>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a
      mat-list-item
      href="{{ link.link }}"
      *ngFor="let link of sideLinks"
      target="_blank"
    >
      {{ link.text }}
    </a>
  </mat-nav-list>
</div>
