<div
  class="recommendation-details"
  [ngClass]="{ 'large-display': (isHandset$ | async) === false }"
  *ngIf="traineeDetails$ | async as traineeDetails"
>
  <mat-list>
    <mat-list-item>
      <div class="mat-caption" mat-line>Name:</div>
      <div mat-line>
        {{
          traineeDetails.programme === null
            ? traineeDetails.doctor.doctorFirstName traineeDetails.doctor.doctorLastName
            : traineeDetails.programme.forename traineeDetails.programme.surname
        }}
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="mat-caption" mat-line>GMC No:</div>
      <div mat-line>        
      {{
        traineeDetails.programme === null
          ? traineeDetails.doctor.gmcReferenceNumber
          : traineeDetails.programme.gmcNumber
      }}
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="mat-caption" mat-line>Programme membership type:</div>
      <div mat-line>
        {{
          traineeDetails.programme === null
          || traineeDetails.programme.programmeMembershipType === null
            ? "N/A"
            : traineeDetails.programme.programmeMembershipType
        }}
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="mat-caption" mat-line>Current programme name:</div>
      <div
        *ngIf="traineeDetails.programme || traineeDetails.programme.programmeName; else NoProgramme"
        mat-line
        class="programme-names"
        [innerHTML]="traineeDetails.programme.programmeName | splitStringToHTML: ' | '"
      ></div>
      <ng-template #NoProgramme mat-line class="programme-names"
        >N/A</ng-template
      >
    </mat-list-item>

    <mat-list-item>
      <div class="mat-caption" mat-line>Current grade:</div>
      <div mat-line>
        {{
          traineeDetails.programme === null
          || traineeDetails.programme.currentGrade === null
            ? "N/A"
            : traineeDetails.programme.currentGrade
        }}
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="mat-caption" mat-line>Curriculum end date:</div>
      <div mat-line>
        {{
          traineeDetails.programme === null
          || traineeDetails.programme.curriculumEndDate === null
            ? "N/A"
            : traineeDetails.programme.curriculumEndDate
        }}
      </div>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a
      mat-list-item
      href="{{ link.link }}"
      *ngFor="let link of sideLinks"
      target="_blank"
    >
      {{ link.text }}
    </a>
  </mat-nav-list>
</div>
