@import "../../../../node_modules/nhsuk-frontend/packages/core/settings/colours";
.recommendation-details {
  max-height: 70vh;
  overflow: auto;

  &.large-display {
    max-height: unset;
  }
}

.details-list {
  padding: 20px;
  .details-list-item {
    margin-bottom: 28px;
    & > span {
      font-size: 14px;
      display: block;
    }
    .details-list-item-title {
      color: rgba(0, 0, 0, 0.54);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.programme-names {
  span {
    color: #da291c;
    display: block;
  }
}
