<mat-card appearance="outlined">
  <mat-card-title>Update connection</mat-card-title>
  <form [formGroup]="updateConnectionForm">
    <div class="d-grid grid-container-3-col">
      <mat-form-field data-cy="update-connection-action">
        <mat-label>Action</mat-label>
        <mat-select formControlName="action">
          @for (action of actions; track action) {
            <mat-option
              data-cy="update-connection-action-option"
              [value]="action.action"
            >
              {{ action.action }}
            </mat-option>
          }
        </mat-select>
        @if (actionControl?.hasError("required")) {
          <mat-error data-cy="update-connection-action-error">
            Please select an action
          </mat-error>
        }
      </mat-form-field>

      @if (reasons.length > 0) {
        <mat-form-field data-cy="update-connection-reason">
          <mat-label>Reason</mat-label>
          <mat-select formControlName="reason">
            @for (reason of reasons; track reason) {
              <mat-option
                data-cy="update-connection-reason-option"
                [value]="reason.code"
              >
                {{ reason.reason }}
              </mat-option>
            }
          </mat-select>
          @if (reasonControl?.hasError("required")) {
            <mat-error data-cy="update-connection-reason-error">
              Please select a reason
            </mat-error>
          }
        </mat-form-field>
      } @else {
        <mat-form-field data-cy="update-connection-reason-text">
          <mat-label>Reason</mat-label>
          <input matInput type="text" formControlName="reason" />
          @if (reasonControl?.hasError("required")) {
            <mat-error data-cy="update-connection-reason-error">
              Please input reason
            </mat-error>
          }
        </mat-form-field>
      }

      @if (addConnectionSelected) {
        <mat-form-field data-cy="update-connection-dbc">
          <mat-label>Dbc</mat-label>
          <mat-select formControlName="dbc">
            @for (dbc of userDbcs; track dbc) {
              <mat-option
                data-cy="update-connection-dbc-option"
                [value]="dbc.dbc"
              >
                {{ dbc.abbr }}
              </mat-option>
            }
          </mat-select>
          @if (dbcControl?.hasError("required")) {
            <mat-error data-cy="update-connection-dbc-error">
              Please select a designated body
            </mat-error>
          }
        </mat-form-field>
      }

      @if (hideDiscrepancySelected) {
        <mat-form-field data-cy="update-connection-hide-until">
          <mat-label>Hide until</mat-label>

          <input
            matInput
            formControlName="hideUntil"
            [matDatepicker]="picker"
            readonly
          />
          @if (hideUntilControl.value) {
            <button
              matSuffix
              mat-icon-button
              aria-label="Clear date"
              data-cy="update-connection-clear-date"
              (click)="clearDate()"
            >
              <mat-icon>clear</mat-icon>
            </button>
          }

          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      }
    </div>

    <div class="d-grid grid-container-3-col">
      <div class="d-grid grid-container-3-col">
        @if (canCancel) {
          <button
            data-cy="update-connection-cancel"
            mat-button
            type="button"
            aria-label="Cancel update connections"
            (click)="cancel()"
            mat-raised-button
            color="primary"
          >
            Cancel
          </button>
        }

        <button
          data-cy="update-connection-reset"
          mat-button
          type="button"
          aria-label="Reset changes"
          (click)="resetForm()"
          mat-raised-button
          [disabled]="
            updateConnectionForm ? !updateConnectionForm.touched : true
          "
        >
          Reset
        </button>

        <button
          data-cy="update-connection-save"
          mat-button
          type="button"
          aria-label="Submit changes"
          mat-raised-button
          color="accent"
          (click)="onSubmit()"
          [disabled]="
            canSave && updateConnectionForm ? !updateConnectionForm.valid : true
          "
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</mat-card>
