<ng-container
  *ngIf="{
    countTotal: countTotal$ | async,
    countUnderNotice: countUnderNotice$ | async,
    filter: filter$ | async,
    enableAllocateAdmin: enableAllocateAdmin$ | async
  } as data"
>
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      [active]="data.filter === allDoctors"
      aria-label="Filter all doctors"
      (click)="filterRecords(allDoctors)"
      [disabled]="data.enableAllocateAdmin"
    >
      ALL DOCTORS - {{ data.countTotal }}
    </a>
    <a
      mat-tab-link
      [active]="data.filter === underNotice"
      aria-label="Filter under notice"
      (click)="filterRecords(underNotice)"
      [disabled]="data.enableAllocateAdmin"
    >
      UNDER NOTICE - {{ data.countUnderNotice }}
    </a>
  </nav>
</ng-container>
