<ng-container
  *ngIf="{
    totalCounts: totalCounts$ | async,
    filter: filter$ | async,
    enableAllocateAdmin: enableAllocateAdmin$ | async
  } as data"
>
  <nav mat-tab-nav-bar>
    <a
      *ngFor="let i of filters"
      mat-tab-link
      [active]="data.filter === i.name"
      [attr.aria-label]="'Filter ' + i.label.toLowerCase() + 'records'"
      (click)="filterRecords(i.name)"
      [disabled]="data.enableAllocateAdmin"
    >
      {{ i.label }}
      <ng-container *ngIf="data.totalCounts?.hasOwnProperty(i.name)">
        - {{ data.totalCounts[i.name] }}
      </ng-container>
    </a>
  </nav>
</ng-container>
