<ng-container
  *ngIf="{
    countTotal: countTotal$ | async,
    countUnderNotice: countUnderNotice$ | async,
    filter: filter$ | async
  } as data"
>
  <button
    mat-raised-button
    [class.mat-primary]="data.filter === traineesFilterType.ALL_DOCTORS"
    class="trainee-filters__btn"
    aria-label="Filter all doctors"
    (click)="filterByAllDoctors()"
  >
    ALL DOCTORS - {{ data.countTotal }}
  </button>
  <button
    mat-raised-button
    [class.mat-primary]="data.filter === traineesFilterType.UNDER_NOTICE"
    aria-label="Filter under notice"
    (click)="filterByUnderNotice()"
  >
    UNDER NOTICE - {{ data.countUnderNotice }}
  </button>
</ng-container>
