<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="pb-20 pt-20">
    <mat-slide-toggle color="primary" formControlName="status"
      >Status: {{ statusText }}</mat-slide-toggle
    >
  </div>

  <div class="d-grid grid-container-2-col">
    <mat-form-field>
      <mat-label>Date of incident</mat-label>
      <input
        matInput
        [max]="lessThanEqualToday"
        formControlName="dateOfIncident"
        [matDatepicker]="dateOfIncidentPicker"
      />
      <mat-error *ngIf="dateOfIncident?.hasError('required')">
        Date of incident is required
      </mat-error>
      <mat-datepicker-toggle
        matSuffix
        [for]="dateOfIncidentPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker touchUi #dateOfIncidentPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Concern type</mat-label>
      <mat-select formControlName="concernType">
        <mat-option
          *ngFor="let incidentType of incidentTypes"
          [value]="incidentType.code"
        >
          {{ incidentType.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="concernType?.hasError('required')">
        Concern type must be provided
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Source</mat-label>
      <mat-select formControlName="source">
        <mat-option
          *ngFor="let incidentSource of incidentSources"
          [value]="incidentSource"
        >
          {{ incidentSource }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="source?.hasError('required')">
        Source must be provided
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date reported</mat-label>
      <input
        matInput
        [max]="lessThanEqualToday"
        formControlName="dateReported"
        [matDatepicker]="dateReportedPicker"
      />
      <mat-error *ngIf="dateReported?.hasError('required')">
        Date reported is required
      </mat-error>
      <mat-datepicker-toggle
        matSuffix
        [for]="dateReportedPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker touchUi #dateReportedPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Follow up date</mat-label>
      <input
        matInput
        [min]="greaterThanToday"
        formControlName="followUpDate"
        [matDatepicker]="followUpDatePicker"
      />
      <mat-error *ngIf="followUpDate?.hasError('required')">
        Follow up date is required
      </mat-error>
      <mat-datepicker-toggle
        matSuffix
        [for]="followUpDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker touchUi #followUpDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="button-row">
    <button mat-button mat-raised-button [routerLink]="'../'">
      Back
    </button>
    <button mat-button mat-raised-button color="primary" type="submit">
      Next
    </button>
  </div>
</form>
