<mat-accordion displayMode="flat" *ngFor="let menuItem of menuItems$">
    <mat-expansion-panel *ngIf="menuItem.menuItems">
        <mat-expansion-panel-header collapsedHeight="48px" expandedHeight="48px">
            {{menuItem.name}}
        </mat-expansion-panel-header>
        <mat-nav-list *ngFor="let item of menuItem.menuItems;">
            <a mat-list-item (click)="onMenuClick()" *ngIf="item.type === 0"
                routerLink="{{ item.route }}">{{item.name}}</a>
            <a mat-list-item *ngIf="item.type === 1" [href]="hostURI + item.route">{{item.name}}</a>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="!menuItem.menuItems" hideToggle="true" [ngClass]="'disabled'">
        <mat-expansion-panel-header collapsedHeight="48px" expandedHeight="48px">
            <mat-panel-title>
                <a class="no-decoration-link d-block w-100" *ngIf="menuItem.type === 0" (click)="onMenuClick()"
                    routerLink="{{menuItem.route}}">{{menuItem.name}}</a>
                <a class="no-decoration-link d-block w-100" *ngIf="menuItem.type === 1"
                    [href]="hostURI + menuItem.route">{{menuItem.name}}</a>
            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>

</mat-accordion>