@import "~@angular/material/core/style/variables";
@import "src/scss/utilities/mixins";

.mat-list-icon {
  @include subtle-color-and-hover();
}

.grid-container {
  grid-template-columns: auto auto;
  grid-gap: 15px;

  @media screen and (#{$mat-small}) {
    grid-template-columns: auto;
  }
}

.uploaded-file {
  grid-template-columns: 40px auto 40px 40px;
}

.highlight-row-warn {
  font-size: 14px;
}
