@import "~@angular/material/core/style/variables";

.main-col {
  grid-template-rows: 64px auto;
}

.record-details {
  grid-template-columns: 280px 1px auto;
  min-height: calc(100vh - 64px - 48px);

  .record-content-container {
    padding: 24px 16px;
    overflow: hidden;
  }
}

.button-row {
  margin: 48px 0;
  display: flex;
  flex-direction: row;

  @media screen and (#{$mat-small}) {
    margin: 32px 0 16px;
  }

  & button {
    display: table-cell;
    margin-right: 8px;

    &:last-of-type,
    &:last-child {
      margin-right: 0px;
    }
  }
}

.records-form {
  min-width: 150px;
  max-width: calc(100% - 52px);

  @media screen and (#{$mat-small}) {
    max-width: 100%;
  }

  .mat-form-field {
    max-width: 550px;
    display: block;

    &.full-width {
      max-width: 100%;
    }
  }
}
.comments-tool-bar {
  width: calc(100% - 40px);
  @media screen and (#{$mat-small}) {
    width: 100%;
  }
}
.comments-section {
  position: relative;

  .mat-checkbox {
    margin-right: 12px;
  }

  .select-control {
    position: absolute;
    right: -10px;
    bottom: 5px;
  }

  .comments {
    textarea.mat-input-element {
      width: calc(100% - 32px);
    }
  }
}
