$browser-context: 16;

/// using https://sass-lang.com/documentation/modules/math#is-unitless
/// @param {Number} $pixels - Pixel value to convert.
/// @param {Number} $context [null] - Base for pixel conversion initial set at 16px.
/// This allows the px unit or not in the function call e,g font-size: em-calc(20) or em-calc(20px)
@function em-calc($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}
