@import "../material/variables";

// display
.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.d-inline-grid {
  display: inline-grid;
}

.d-flex {
  display: flex;
}

// justify content
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-start {
  justify-content: flex-start;
}

// justify items
.justify-items-start {
  justify-items: start;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}

// align items
.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

// justify content
.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-stretch {
  justify-content: stretch;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

// align content
.align-content-start {
  align-content: start;
}

.align-content-center {
  align-content: center;
}

.align-content-end {
  align-content: end;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-evenly {
  align-content: space-evenly;
}

// grid auto flow
.grid-auto-flow-row {
  grid-auto-flow: row;
}

.grid-auto-flow-column {
  grid-auto-flow: column;
}

.grid-auto-flow-dense {
  grid-auto-flow: dense;
}

// justify self
.justify-self-start {
  justify-self: start;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-end {
  justify-self: end;
}

// align self
.align-self-start {
  align-self: start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

// grid layouts
.grid-container-2-col {
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;

  @media screen and (max-width: $small) {
    grid-template-columns: auto;
  }
}

// grid layouts
.grid-container-3-col {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;

  @media screen and (max-width: $small) {
    grid-template-columns: auto;
  }
}

// containers max width
.container {
  max-width: 1920px;
  margin: 0 auto;
}

.main-content {
  min-height: auto;
  min-height: calc(100vh - 64px);
  @media screen and (max-width: $small) {
    min-height: calc(100vh - 72px);
  }
}
