@import "~nhsuk-frontend/packages/core/settings/colours";
// re-usable styles and mixins
.no-decoration-link {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.icon-green {
  color: $color_nhsuk-green;
}

.icon-blue {
  color: $color_nhsuk-blue;
}

.icon-yellow {
  color: $color_nhsuk-warm-yellow;
}

.icon-red {
  color: $color_nhsuk-red;
}

.collapsed {
  visibility: collapse;
}

.no-height {
  height: 0;
}

.inline-marker {
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 7px;
  margin: 0 4px;
  border-radius: 4px;
  font-size: 13px;
  background-color: $color_nhsuk-grey-4;

  &.primary {
    background-color: $color_nhsuk-blue;
    color: $color_nhsuk-white;
  }
}

.spacer {
  flex: 1 1 auto;
}

.table-container {
  overflow: auto;
  position: relative;
}

.highlight-row {
  background-color: rgba(213, 40, 27, 0.15);

  td:first-child {
    border-left: solid 4px $color_nhsuk-red;
  }

  &-primary {
    background-color: tint($color_nhsuk-blue, 90);

    td:first-child {
      border-left: solid 4px $color_nhsuk-blue;
    }
  }

  &-accent {
    background-color: tint($color_nhsuk-warm-yellow, 90);
    td:first-child {
      border-left: solid 4px $color_nhsuk-warm-yellow;
    }
  }

  &-warn {
    background-color: tint($color_nhsuk-red, 90);
    td:first-child {
      border-left: solid 4px $color_nhsuk-red;
    }
  }

  &-active {
    background-color: tint($color_nhsuk-green, 90);
    td:first-child {
      border-left: solid 4px $color_nhsuk-green;
    }
  }
}

.hidden,
.hide,
[hidden] {
  display: none;
}

.mat-tab-label,
.mat-tab-link {
  color: shade($color_nhsuk-black, 100%);
}

.centered {
  justify-content: center;
  text-align: center;
}

.bg-white {
  background-color: $color_nhsuk-white;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
