@import "~nhsuk-frontend/packages/core/settings/colours";
// re-usable styles and mixins
.no-decoration-link {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

$colour-values: (
  warn: $color_nhsuk-red,
  success: $color_nhsuk-green,
  primary: $color_nhsuk-blue,
  accent: $color_nhsuk-warm-yellow
) !default;

@mixin icon-colours() {
  @each $att-name, $att-value in $colour-values {
    .icon-#{$att-name} {
      color: $att-value;
    }
  }
}
@include icon-colours();

.collapsed {
  visibility: collapse;
}

.no-height {
  height: 0;
}

.inline-marker {
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 7px;
  margin: 0 4px;
  border-radius: 4px;
  font-size: 13px;
  background-color: $color_nhsuk-grey-4;

  &.primary {
    background-color: $color_nhsuk-blue;
    color: $color_nhsuk-white;
  }
}

.spacer {
  flex: 1 1 auto;
}

.table-container {
  overflow: auto;
  position: relative;
}

@mixin highlight-rows() {
  @each $att-name, $att-value in $colour-values {
    .highlight-row-#{$att-name} {
      background-color: tint($att-value, 95);

      &.mat-row.cdk-row:hover,
      &.mat-row.cdk-row:focus {
        background-color: tint($att-value, 90);
      }

      td:first-child {
        border-left: 4px solid $att-value;
      }
    }
  }
}

@include highlight-rows();

.hidden,
.hide,
[hidden] {
  display: none;
}

.mat-tab-label,
.mat-tab-link {
  color: shade($color_nhsuk-black, 100%);
}

.centered {
  justify-content: center;
  text-align: center;
}

.bg-white {
  background-color: $color_nhsuk-white;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
