@import "~nhsuk-frontend/packages/core/settings/colours";
// re-usable styles and mixins
.no-decoration-link {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.icon-green {
  color: $color_nhsuk-green;
}

.icon-blue {
  color: $color_nhsuk-blue;
}

.icon-yellow {
  color: $color_nhsuk-warm-yellow;
}

.icon-red {
  color: $color_nhsuk-red;
}

.collapsed {
  visibility: collapse;
}

.no-height {
  height: 0;
}

.inline-marker {
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 7px;
  margin: 0 4px;
  border-radius: 4px;
  font-size: 13px;
  background-color: $color_nhsuk-grey-4;

  &.primary {
    background-color: $color_nhsuk-blue;
    color: $color_nhsuk-white;
  }
}

.spacer {
  flex: 1 1 auto;
}

.table-container {
  overflow: auto;
  position: relative;
}

.hidden,
.hide,
[hidden] {
  display: none;
}

.mat-tab-label,
.mat-tab-link {
  color: shade($color_nhsuk-black, 100%);
}

.centered {
  justify-content: center;
  text-align: center;
}

.bg-white {
  background-color: $color_nhsuk-white;
}
