<div class="d-grid record-search">
  <div class="d-flex pl-25 pr-20 align-items-center">
    <button
      color="primary"
      matTooltipPosition="below"
      matTooltipShowDelay="500"
      mat-icon-button
      [matTooltip]="fixedColumns ? 'Unlock column width' : 'Lock column width'"
      aria-label="Toggle table column width setting"
      (click)="toggleFixedColumns()"
    >
      <ng-container *ngIf="fixedColumns">
        <mat-icon class="material-icons-outlined layered-icon base-icon"
          >table_chart</mat-icon
        >
        <mat-icon class="layered-icon overlay-bg-icon">circle</mat-icon>
        <mat-icon class="layered-icon overlay-icon">lock_open</mat-icon>
      </ng-container>

      <ng-container *ngIf="!fixedColumns">
        <mat-icon class="material-icons-outlined layered-icon base-icon"
          >table_chart</mat-icon
        >
        <mat-icon class="layered-icon overlay-bg-icon">circle</mat-icon>
        <mat-icon class="layered-icon overlay-icon">lock</mat-icon>
      </ng-container>
    </button>

    <button
      *ngIf="!isConnectionsSummary"
      color="primary"
      [matTooltip]="
        filterPanelOpen ? 'Close filter panel' : 'Open filter panel'
      "
      matTooltipPosition="below"
      matTooltipShowDelay="500"
      mat-icon-button
      aria-label="Toggle table filter panel"
      (click)="toggleTableFilterPanel()"
    >
      <mat-icon *ngIf="!filterPanelOpen">filter_alt</mat-icon>
      <mat-icon *ngIf="filterPanelOpen">filter_alt_off</mat-icon>
    </button>
    <app-reset-record-list></app-reset-record-list>
    <app-allocate-admin-btn
      *ngIf="isRevalAdmin && !isConnectionsSummary"
    ></app-allocate-admin-btn>
    <app-update-connetions-btn
      *ngIf="isRevalAdmin && isConnectionsSummary"
    ></app-update-connetions-btn>
  </div>

  <form
    (ngSubmit)="checkForm()"
    [formGroup]="form"
    #ngForm="ngForm"
    autocomplete="off"
    *ngIf="{
      enableAllocateAdmin: enableAllocateAdmin$ | async,
      enableUpdateConnections: enableUpdateConnections$ | async,
      disableSearchAndSort: disableSearchAndSort$ | async
    } as data"
  >
    <mat-form-field style="width: 360px">
      <mat-label>{{ searchLabel }}</mat-label>
      <input
        matInput
        type="text"
        [formControlName]="'searchQuery'"
        [value]="searchQuery$ | async"
      />
      <button
        mat-button
        matSuffix
        color="primary"
        aria-label="Recommendations search"
        type="submit"
        [disabled]="
          data.enableAllocateAdmin ||
          data.enableUpdateConnections ||
          data.disableSearchAndSort
        "
      >
        <mat-icon aria-label="search icon">search</mat-icon>
      </button>
      <mat-error *ngIf="form.invalid">No search terms entered</mat-error>
    </mat-form-field>
  </form>
</div>
