.record-search {
  grid-template-columns: auto minmax(0, 1fr);
  ::ng-deep .mat-form-field-infix {
    width: auto;
  }
  ::ng-deep .mat-form-field-wrapper {
    padding: 10px 0 !important;
  }
  ::ng-deep .mat-form-field {
    font-size: 14px;
  }
}
