@import "nhsuk-frontend/packages/core/settings/colours";

.mat-icon {
  &.severity-low {
    color: $color_nhsuk-yellow;
  }
  &.severity-medium {
    color: $color_nhsuk-warm-yellow;
  }
  &.severity-high {
    color: $color_nhsuk-red;
  }
  &.severity-none {
    color: $color_nhsuk-green;
  }
  &.help {
    color: $color_nhsuk-purple;
  }
}
::ng-deep {
  .mat-mdc-menu-content {
    padding-bottom: 0 !important;
  }
}
.version {
  background-color: #eee;
  font-size: x-small;
  color: #888;
  text-align: right;
  padding: 4px;
}
