@import "nhsuk-frontend/packages/core/settings/colours";

.mat-icon {
  &.severity-low {
    color: $color_nhsuk-yellow;
  }
  &.severity-medium {
    color: $color_nhsuk-warm-yellow;
  }
  &.severity-high {
    color: $color_nhsuk-red;
  }
  &.severity-none {
    color: $color_nhsuk-green;
  }
  &.help {
    color: $color_nhsuk-purple;
  }
}
