@import "../../../scss/utilities/spacing-helpers";
@import "../../../scss/material/variables";

:host {
  display: block;
  padding: 0 20px;

  @media screen and (max-width: $small) {
    padding: 0 0 24px 0;
  }
}

@include mat-table-columns(
  (
    recommendationType: (
      width: 150px
    ),
    gmcOutcome: (
      width: 150px
    ),
    gmcSubmissionDate: (
      width: 180px
    ),
    actualSubmissionDate: (
      width: 180px
    ),
    admin: (
      width: 200px
    )
  )
);
