@import "../../../scss/utilities/spacing-helpers";

@include mat-table-columns(
  (
    recommendationType: (
      width: 150px
    ),
    gmcOutcome: (
      width: 150px
    ),
    gmcSubmissionDate: (
      width: 180px
    ),
    actualSubmissionDate: (
      width: 180px
    ),
    admin: (
      width: 200px
    )
  )
);

.mat-card-title {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
}
