<div [formGroup]="form">
  <mat-form-field *ngIf="meta" style="width: 100%" appearance="fill">
    <mat-label>{{ meta.label }}</mat-label>
    <input
      matInput
      [matAutocomplete]="auto"
      [formControlName]="meta.key"
      [placeholder]="meta.placeholder"
    />

    <button
      *ngIf="this.form.controls[this.meta.key].value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      data-jasmine="clearInputButton"
      (click)="clearSelection()"
    >
      <mat-icon>close</mat-icon>
    </button>

    <mat-autocomplete
      [panelWidth]="400"
      #auto="matAutocomplete"
      (optionSelected)="onSelected()"
      [displayWith]="displayWith"
    >
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let item of filteredItems" [value]="item">
          <span>{{ item }}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
  <div class="mat-error error" *ngIf="isNoMatches">No matches found.</div>
</div>
