<div [formGroup]="form">
  <mat-form-field
    class="example-full-width"
    style="width: 100%"
    appearance="fill"
  >
    <mat-label>{{ meta.label }}</mat-label>
    <input
      matInput
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [formControl]="searchControl"
      [placeholder]="meta.placeholder"
    />
    <button
      *ngIf="searchControl.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSelection()"
    >
      <mat-icon>close</mat-icon>
    </button>

    <mat-autocomplete
      [panelWidth]="400"
      #auto="matAutocomplete"
      (optionSelected)="onSelected()"
      [displayWith]="displayWith"
    >
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let item of filteredItems" [value]="item">
          <span>{{ item.title }}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
    <mat-chip-list
      [hidden]="!meta.allowMultipleSelections"
      #chipList
      [attr.aria-label]="meta.label"
    >
      <mat-chip
        *ngFor="let tag of form.controls[meta.key].value"
        (removed)="removeTag(tag)"
      >
        {{ tag.title }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>

  <ng-container *ngIf="errorMsg">
    {{ errorMsg }}
  </ng-container>
</div>
