<div data-jasmine="formControl" [formGroup]="form">
  <mat-selection-list
    [attr.data-cy]="'selectionList' + controlProperties.key"
    class="mb-20"
    color="primary"
    [formControlName]="controlProperties.key"
  >
    <div class="h2">{{ controlProperties.label }}</div>
    <mat-list-option
      *ngFor="let option of controlProperties.options"
      [value]="option.key"
      [attr.data-cy]="'selectionOption' + option.key"
    >
      {{ option.value }}
    </mat-list-option>
  </mat-selection-list>
</div>
