@import "~@angular/material/core/style/variables";

.mat-stepper-horizontal {
  overflow: hidden;
  width: 100%;
}

.terms {
  height: 300px;
  overflow: scroll;
  margin-bottom: 24px;
  padding: 10px 15px;

  @media screen and (#{$mat-xsmall}) {
    padding: 8px 10px;
    margin-bottom: 16px;
  }
}
.comments-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  opacity: 0.8;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 150px;
  max-width: 100%;

  &:hover,
  &:focus {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .mat-checkbox {
    margin-right: 12px;
  }
}
