.spacer {
  flex: 1 1 auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 0 16px;
}

.mat-mdc-list-item.edit-note {
  min-height: 100px;
  height: auto;
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
  .mat-list-item-content {
    height: 100%;
  }
  .editor {
    min-height: 100px;
  }

  .notes-button-holder {
    display: flex;
    flex-direction: column;
  }
}

.note {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
