// Custom Theming for Angular Material
@use "@angular/material" as mat;
@import "palette";
@include mat.core();

$nhsuk-primary: mat.define-palette($nhsuk-blue);
$nhsuk-accent: mat.define-palette($nhsuk-warm-yellow);
$nhsuk-secondary: mat.define-palette($nhsuk-green);
$nhsuk-warn: mat.define-palette($nhsuk-red);

$nhsuk-typography: mat.define-typography-config(
  $font-family: $nhsuk-font,

  $button:
    mat.define-typography-level(
      $font-weight: 400,
      $font-size: 0.9rem,
      $line-height: 1,
      $letter-spacing: normal
    )
);

$nhsuk-theme: mat.define-light-theme(
  (
    color: (
      primary: $nhsuk-primary,
      accent: $nhsuk-accent,
      warn: $nhsuk-warn
    ),
    density: 0,
    typography: $nhsuk-typography
  )
);

// Legacy - only needed whilst migrating to MDC
@include mat.all-legacy-component-themes($nhsuk-theme);

@include mat.all-component-themes($nhsuk-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: $nhsuk-font;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $color_nhsuk-black;
}
// accessibility focus TO:DO investigate high-contrast https://material.angular.io/cdk/a11y/overview
// .mat-focus-indicator:focus {
//   box-shadow: 0 0 0 $nhsuk-border-radius $color_nhsuk-yellow;
// }

.nhsuk-skip-link.mat-mdc-raised-button {
  outline: $nhsuk-border-radius solid transparent;
  left: -9999px;
  position: absolute;

  &:focus {
    left: 8px;
    top: 8px;
    z-index: 10;
  }
}

.mat-mdc-row.cdk-row {
  &[tabindex="0"] {
    cursor: pointer;
  }
  &:hover {
    background-color: $color_nhsuk-grey-5 !important;
  }
  &:focus {
    background-color: $color_transparent_nhsuk-blue-50;
  }
  &.cursor-auto {
    cursor: auto;
  }
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

// TODO remove this as part of TIS21-2001
// Added for accessibility purposes while text input disabled
.mat-datepicker-toggle {
  font-size: 25px;
}

.mat-mdc-card {
  padding: 16px;

  .mat-mdc-card-title {
    margin-bottom: 8px;
    line-height: normal;
  }
  .mat-mdc-card-subtitle {
    margin-bottom: 16px;
  }
  .mat-mdc-card-content {
    padding: 0;

    &:last-child {
      padding: 0;
    }
  }
}

.mat-sort-header-content,
.mdc-data-table__header-cell {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px !important;
  font-weight: 500;
}

.dense-1 {
  @include mat.all-component-densities(-1);
}

.dense-2 {
  @include mat.all-component-densities(-2);
}
