// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import "palette";

$nhsuk-typography: mat-typography-config(
  $font-family: $nhsuk-font + $nhsuk-font-fallback
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($nhsuk-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nhsuk-primary: mat-palette($nhsuk-blue);
$nhsuk-accent: mat-palette($nhsuk-warm-yellow);
$nhsuk-secondary: mat-palette($nhsuk-green);
// The warn palette is optional (defaults to red).
$nhsuk-warn: mat-palette($nhsuk-red);

// Create the theme object (a Sass map containing all of the palettes).
$nhsuk-theme: mat-light-theme($nhsuk-primary, $nhsuk-accent, $nhsuk-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nhsuk-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: $nhsuk-font, $nhsuk-font-fallback, Serif, Sans-serif; // sonar error fall-back variable is Serif, Sans-serif
  margin: 0;
  padding: 0;
  color: $color_nhsuk-black;
}
// accessibility focus TO:DO investigate high-contrast https://material.angular.io/cdk/a11y/overview
// .mat-focus-indicator:focus {
//   box-shadow: 0 0 0 $nhsuk-border-radius $color_nhsuk-yellow;
// }

.nhsuk-skip-link.mat-raised-button {
  outline: $nhsuk-border-radius solid transparent;
  left: -9999px;
  position: absolute;

  &:focus {
    left: 8px;
    top: 8px;
    z-index: 10;
  }
}

.mat-row.cdk-row {
  &[tabindex="0"] {
    cursor: pointer;
  }
  &:hover {
    background-color: $color_nhsuk-grey-5;
  }
  &:focus {
    background-color: $color_transparent_nhsuk-blue-50;
  }
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
