$nhsuk-blue: (
  50: #e0ecf6,
  100: #b3cfea,
  200: #80afdc,
  300: #4d8ecd,
  400: #2676c3,
  500: #005eb8,
  600: #0056b1,
  700: #004ca8,
  800: #0042a0,
  900: #003191,
  A100: #bdceff,
  A200: #8aa8ff,
  A400: #5782ff,
  A700: #3d6fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);

$nhsuk-green: (
  50: #e0f0e7,
  100: #b3d9c4,
  200: #80bf9d,
  300: #4da576,
  400: #269258,
  500: #007f3b,
  600: #007735,
  700: #006c2d,
  800: #006226,
  900: #004f19,
  A100: #82ff9c,
  A200: #4fff73,
  A400: #1cff4b,
  A700: #03ff37,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$nhsuk-warm-yellow: (
  50: #fff6e4,
  100: #ffeabb,
  200: #ffdc8e,
  300: #ffcd60,
  400: #ffc33e,
  500: #ffb81c,
  600: #ffb119,
  700: #ffa814,
  800: #ffa011,
  900: #ff9109,
  A100: #ffffff,
  A200: #fffaf5,
  A400: #ffe1c2,
  A700: #ffd5a8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$nhsuk-red: (
  50: #fae5e4,
  100: #f2bfbb,
  200: #ea948d,
  300: #e2695f,
  400: #db483d,
  500: #d5281b,
  600: #d02418,
  700: #ca1e14,
  800: #c41810,
  900: #ba0f08,
  A100: #ffe5e5,
  A200: #ffb3b2,
  A400: #ff827f,
  A700: #ff6965,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
