<form
  class="w-100"
  [formGroup]="form"
  *ngIf="currentRecommendationType$ | async as currentRecommendationType"
  (ngSubmit)="submitToGMC()"
>
  <div
    class="terms mat-body"
    [ngSwitch]="recommendationType[currentRecommendationType]"
  >
    <ng-container *ngSwitchCase="recommendationType.REVALIDATE">
      <h2>Recommendation: {{ recommendationType.REVALIDATE }}</h2>
      <p>
        Made pursuant to The Medical Profession (Responsible Officer)
        Regulations and The General Medical Council (Licence to Practise and
        Revalidation) Regulations
      </p>
      <p>
        I am the appointed or nominated Responsible Officer for each medical
        practitioner named below.
      </p>
      <p>I have read the criteria for recommendations to revalidate.</p>
      <p>
        In determining my revalidation recommendation to the General Medical
        Council for the medical practitioners named below, it is my judgement
        that each has:
      </p>
      <ul>
        <li>
          participated in either annual appraisal that considers the whole of
          their practice and reflects the requirements of the GMC's Good Medical
          Practice Framework for appraisal and revalidation, or where the doctor
          is a trainee, participated in the assessments and curriculum
          requirements of their training programme; and
        </li>
        <li>
          <p>
            presented and discussed appropriate supporting information at annual
            appraisals in accordance with the requirements of the GMC's
            Supporting information for appraisal and revalidation, or where the
            doctor is a trainee, undertaken and discussed the assessments and
            curriculum requirements of their training programme.
          </p>
          <p>
            Based on the outcomes of such appraisal or assessment, and on other
            information available to me from relevant clinical and corporate
            governance systems, I am satisfied that:
          </p>
        </li>
        <li>
          where relevant, each of the named medical practitioners is practising
          in compliance with any conditions imposed by, or undertakings agreed
          with, the General Medical Council
        </li>
        <li>
          where relevant, each of the named medical practitioners is practising
          in compliance with any conditions agreed locally
        </li>
        <li>
          there are no unaddressed concerns identified by the above systems and
          processes about the fitness to practise of any of the named medical
          practitioners.
        </li>
      </ul>
      <p>
        In accordance with my statutory duty to make recommendations about the
        fitness to practise of licensed doctors, I recommend that each of the
        named medical practitioners is fit to practise and consequently their
        licence to practise should be continued.
      </p>
    </ng-container>
    <ng-container *ngSwitchCase="recommendationType.DEFER">
      <h2 class="mat-headline-6">
        Recommendation: {{ recommendationType.DEFER }}
      </h2>
      <p>
        Made pursuant to The Medical Profession (Responsible Officer)
        Regulations and The General Medical Council (Licence to Practise and
        Revalidation) Regulations
      </p>
      <p>
        I am the appointed or nominated Responsible Officer for the medical
        practitioner to whom this deferral request applies.
      </p>
      <p>I have read the criteria for a deferral and I am satisfied that:</p>
      <ul>
        <li>
          the medical practitioner has engaged with the systems and processes
          that support revalidation
        </li>
        <li>
          there are no unaddressed concerns about the fitness to practise of the
          medical practitioner to whom this deferral request applies.
        </li>
      </ul>
      <p>
        Where there is insufficient evidence to support a recommendation about
        the medical practitioner's fitness to practise:
      </p>
      <ul>
        <li>
          I have identified the outstanding evidence required for me to make an
          informed decision about the medical practitioner's fitness to
          practise.
        </li>
        <li>
          I anticipate being able to make an informed recommendation about the
          medical practitioner's fitness to practise once the outstanding
          evidence has been collected.
        </li>
      </ul>
      <p>
        Where the medical practitioner is participating in an ongoing process:
      </p>
      <ul>
        <li>
          I will consider the outcome of this process when making a
          recommendation about their fitness to practise.
        </li>
        <li>
          I anticipate being able to make an informed recommendation about the
          medical practitioner's fitness to practise once the process is
          concluded.
        </li>
      </ul>
    </ng-container>
    <ng-container *ngSwitchCase="recommendationType.NON_ENGAGEMENT">
      <h2 class="mat-headline-6">
        Recommendation: {{ recommendationType.NON_ENGAGEMENT }}
      </h2>
      <p>
        Made pursuant to The Medical Profession (Responsible Officer)
        Regulations and The General Medical Council (Licence to Practise and
        Revalidation) Regulations
      </p>
      <p>
        I am the appointed or nominated Responsible Officer for the medical
        practitioner to whom this notification of non-engagement applies.
      </p>
      <p>I have read the criteria for non-engagement and I confirm that:</p>

      <ul>
        <li>
          The medical practitioner has not engaged in appraisal or other
          activities to support a recommendation to revalidate, or the level of
          engagement is insufficient to support a recommendation to revalidate.
        </li>
        <li>
          I do not have and do not anticipate having, sufficient information on
          which to base a recommendation about the medical practitioner's
          fitness to practise. I have assured myself that the named medical
          practitioner does not meet the criteria for a deferral of a
          recommendation about their fitness to practise.
        </li>
        <li>
          The medical practitioner has been provided with sufficient opportunity
          and support to engage with revalidation, but has failed to do so.
          Based on the information available to me, there are no extenuating
          circumstances which account for their failure to engage.
        </li>
        <li>
          All reasonable local processes have been exhausted in attempts to
          rectify the medical practitioner's failure to engage in revalidation.
        </li>
        <li>
          Where applicable I have notified the GMC of any outstanding concerns
          about the fitness to practise of the named medical practitioner. I
          have notified the GMC in accordance with GMC guidance on raising
          concerns about doctors.
        </li>
      </ul>
      <p>
        Consequently, I cannot recommend the named medical practitioner is fit
        to practise.
      </p>
    </ng-container>

    <ng-container *NgSwitchDefault> </ng-container>
  </div>
  <mat-divider></mat-divider>
  <section class="w-100 mt-20">
    <mat-slide-toggle
      data-jasmine="toggleConfirm"
      color="primary"
      formControlName="confirm"
    >
      I confirm all relevant information has been considered
    </mat-slide-toggle>
  </section>

  <div class="button-row">
    <button
      mat-button
      mat-raised-button
      *ngIf="editRecommendation$ | async as editRecommendation"
      [routerLink]="editRecommendation ? ['../edit'] : ['../create']"
    >
      Back
    </button>
    <button
      data-jasmine="buttonSubmit"
      mat-button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid || isFormSubmitting"
    >
      {{ isFormSubmitting ? "Submitting..." : "Submit to GMC" }}
    </button>
    <span class="spacer"></span>
    <button
      type="button"
      mat-icon-button
      aria-label="Reset changes"
      color="warn"
      matTooltipPosition="left"
      matTooltip="Reset changes"
      (click)="reset()"
    >
      <mat-icon>restore</mat-icon>
    </button>
  </div>
</form>
