<div class="table-container">
  <table mat-table [dataSource]="revalidationHistory" multiTemplateDataRows class="w-100">
    <caption class="collapsed no-height">
      Trainee revalidation historical details
    </caption>
    <ng-container matColumnDef="revalidationType">
      <th mat-header-cell scope="col" *matHeaderCellDef>Recommendation</th>
      <td mat-cell *matCellDef="let element">
        {{ revalidationType[element.revalidationType] }}
      </td>
    </ng-container>
    <ng-container matColumnDef="gmcOutcome">
      <th mat-header-cell scope="col" *matHeaderCellDef>Outcome</th>
      <td mat-cell *matCellDef="let element">
        <div class="outcome" [ngSwitch]="element.gmcOutcome">
          <mat-icon *ngSwitchCase="'APPROVED'" aria-hidden="true" class="icon-green">
            done_all
          </mat-icon>
          <mat-icon *ngSwitchCase="'REJECTED'" aria-hidden="true" class="icon-red">
            error_outline
          </mat-icon>
          <mat-icon *ngSwitchCase="'UNDER_REVIEW'" aria-hidden="true" class="icon-blue">
            done
          </mat-icon>
          <span class="outcome-text">{{
            revalidationGmcOutcome[element.gmcOutcome]
          }}</span>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="gmcSubmissionDate">
      <th mat-header-cell scope="col" *matHeaderCellDef>
        GMC Submission Due Date
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.gmcSubmissionDate | date: dateFormat }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actualSubmissionDate">
      <th mat-header-cell scope="col" *matHeaderCellDef>
        Actual Submission Date
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.actualSubmissionDate | date: dateFormat }}
      </td>
    </ng-container>
    <ng-container matColumnDef="admin">
      <th mat-header-cell scope="col" *matHeaderCellDef>Submitted By</th>
      <td mat-cell *matCellDef="let element">{{ element.admin }}</td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail" [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          ">
          <div class="element-submission-status">
            <strong>Submission Status:</strong>
            {{ revalidationStatus[element.revalidationStatus] }}
          </div>
          <mat-divider *ngIf="element.comments?.length > 0"></mat-divider>
          <ng-container *ngFor="let comment of element.comments">
            <div class="element-notes">
              {{ comment.comment }}
            </div>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr tabindex="0" mat-row *matRowDef="let element; columns: columnsToDisplay" class="element-row"
      [class.expanded-row]="expandedElement === element" (click)="currentExpanded(element)"
      (keyup.enter)="currentExpanded(element)" (keyup.space)="currentExpanded(element)"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

    <ng-container matColumnDef="noRecord">
      <td colspan="5" mat-footer-cell class="centered" *matFooterCellDef>
        <em class="icon-red">No history available.</em>
      </td>
    </ng-container>

    <tr mat-footer-row *matFooterRowDef="['noRecord']" [ngClass]="{ hide: revalidationHistory?.length > 0 }"></tr>
  </table>
</div>