<mat-list ngClass="app-status">
    <mat-list-item>
        <button mat-button aria-label="Status is good" matTooltip="No issues reported">
            System status
            <mat-icon>check_circle</mat-icon>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button color="primary" aria-label="Get help">
            Get help <mat-icon>help</mat-icon>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button aria-label="User management" matTooltip="User name">
            Sign out <mat-icon color="accent">account_box</mat-icon>
        </button>
    </mat-list-item>
</mat-list>