<button mat-icon-button [matMenuTriggerFor]="statusMenu" aria-label="Application status menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #statusMenu="matMenu">
    <button mat-menu-item>
        <mat-icon style="color: green;">fiber_manual_record</mat-icon>
        <span>System status</span>
    </button>
    <button mat-menu-item>
        <mat-icon color="accent">live_help</mat-icon>
        <span>Get help</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>notifications_off</mat-icon>
        <span>notifications</span>
    </button>

    <button mat-menu-item color="primary">
        <mat-icon matBadge="3" color="primary">notifications_on</mat-icon>
        <span>notifications</span>
    </button>
</mat-menu>