<div
  *ngIf="submitting; else notSubmitting"
  class="d-flex align-content-center justify-content-center align-items-center progress-spinner"
>
  <mat-spinner></mat-spinner>
</div>

<ng-template #notSubmitting>
  <div
    class="table-container"
    *ngIf="connectionHistory$ | async as connectionHistory"
  >
    <table
      mat-table
      [dataSource]="connectionHistory"
      multiTemplateDataRows
      class="w-100"
    >
      <caption class="collapsed no-height">
        Trainee historical connection details
      </caption>
      <ng-container matColumnDef="programmeName">
        <th mat-header-cell scope="col" *matHeaderCellDef>Programme name</th>
        <td mat-cell *matCellDef="let element">{{ element.programmeName }}</td>
      </ng-container>

      <ng-container matColumnDef="designatedBodyCode">
        <th mat-header-cell scope="col" *matHeaderCellDef>Designated body</th>
        <td mat-cell *matCellDef="let element">
          {{ getDBCAbbrevation(element.designatedBodyCode) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="programmeOwner">
        <th mat-header-cell scope="col" *matHeaderCellDef>Programme owner</th>
        <td mat-cell *matCellDef="let element">{{ element.programmeOwner }}</td>
      </ng-container>

      <ng-container matColumnDef="connectionStatus">
        <th mat-header-cell scope="col" *matHeaderCellDef>
          Current connection
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.connectionStatus }}
        </td>
      </ng-container>

      <ng-container matColumnDef="programmeMembershipStartDate">
        <th mat-header-cell scope="col" *matHeaderCellDef>Start date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.programmeMembershipStartDate | date: dateFormat }}
        </td>
      </ng-container>

      <ng-container matColumnDef="programmeMembershipEndDate">
        <th mat-header-cell scope="col" *matHeaderCellDef>End date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.programmeMembershipEndDate | date: dateFormat }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="columnsToDisplay"
        [ngClass]="{ hide: connectionHistory?.length === 0 }"
        class="element-row"
      ></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplay"
        [class.highlight-row-warn]="element.connectionStatus === 'No'"
        [class.highlight-row-success]="element.connectionStatus === 'Yes'"
      ></tr>

      <ng-container matColumnDef="noRecord">
        <td colspan="12" mat-footer-cell class="centered" *matFooterCellDef>
          <em class="icon-warn">No history available.</em>
        </td>
      </ng-container>
      <tr
        mat-footer-row
        *matFooterRowDef="['noRecord']"
        class="highlight-row-warn"
        [ngClass]="{ hide: connectionHistory?.length > 0 }"
      ></tr>
    </table>

    <mat-card *ngIf="enableUpdateConnection">
      <mat-card-title>Update connection</mat-card-title>
      <form [formGroup]="updateConnectionForm">
        <div class="d-grid grid-container-3-col">
          <mat-form-field>
            <mat-label>Action</mat-label>
            <mat-select formControlName="action">
              <mat-option *ngFor="let action of actions" [value]="action">
                {{ action }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="actionControl?.hasError('required')">
              Please select an action
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="showReasonDropdown">
            <mat-label>Reason</mat-label>
            <mat-select formControlName="reason">
              <mat-option *ngFor="let reason of reasons" [value]="reason">
                {{ reason }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="reasonControl?.hasError('required')">
              Please select a reason
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="showReasonText">
            <mat-label>Reason</mat-label>
            <input matInput type="text" formControlName="reason" />
            <mat-error *ngIf="reasonControl?.hasError('required')">
              Please input reason
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="addConnectionSelected">
            <mat-label>Dbc</mat-label>
            <mat-select formControlName="dbc">
              <mat-option *ngFor="let dbc of userDbcs" [value]="dbc.dbc">
                {{ dbc.abbr }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="dbcControl?.hasError('required')">
              Please select a designated body
            </mat-error>
          </mat-form-field>
        </div>

        <div class="button-row">
          <button
            mat-button
            type="button"
            aria-label="Reset changes"
            (click)="resetForm()"
            mat-raised-button
            color="primary"
            [disabled]="
              updateConnectionForm ? !updateConnectionForm.touched : true
            "
          >
            Reset
          </button>

          <button
            mat-button
            type="button"
            aria-label="Submit changes"
            mat-raised-button
            color="accent"
            (click)="openDialog()"
            [disabled]="
              updateConnectionForm ? !updateConnectionForm.valid : true
            "
          >
            Save
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</ng-template>
