@import "../../scss/utilities/spacing-helpers";

@include mat-table-columns(
  (
    programmeName: (
      width: 180px
    ),
    designatedBodyCode: (
      width: 120px
    ),
    programmeOwner: (
      width: 180px
    ),
    connectionStatus: (
      width: 120px
    ),
    programmeMembershipStartDate: (
      width: 90px
    ),
    programmeMembershipEndDate: (
      width: 90px
    )
  )
);
