<div
  *ngIf="submitting; else notSubmitting"
  class="d-flex align-content-center justify-content-center align-items-center progress-spinner"
>
  <mat-spinner></mat-spinner>
</div>

<ng-template #notSubmitting>
  <div class="table-container" *ngIf="connectionHistory">
    <mat-card class="mb-20" appearance="outlined">
      <mat-card-title>Connection history</mat-card-title>
      <table
        mat-table
        [dataSource]="connectionHistory"
        multiTemplateDataRows
        class="w-100"
        data-cy="connection-history-table"
      >
        <caption class="collapsed no-height">
          Trainee historical connection details
        </caption>
        <ng-container matColumnDef="newDesignatedBodyCode">
          <th mat-header-cell scope="col" *matHeaderCellDef>New DBC</th>
          <td mat-cell *matCellDef="let element">
            {{ element.newDesignatedBodyCode | formatDesignatedBody: "abbr" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="previousDesignatedBodyCode">
          <th mat-header-cell scope="col" *matHeaderCellDef>Old DBC</th>
          <td mat-cell *matCellDef="let element">
            {{
              element.previousDesignatedBodyCode | formatDesignatedBody: "abbr"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="designatedBodyCode">
          <th mat-header-cell scope="col" *matHeaderCellDef>Designated body</th>
          <td mat-cell *matCellDef="let element">
            {{ doctorCurrentDbc | formatDesignatedBody: "abbr" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="requestType">
          <th mat-header-cell scope="col" *matHeaderCellDef>Request type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.requestType }}
          </td>
        </ng-container>

        <ng-container matColumnDef="reasonMessage">
          <th mat-header-cell scope="col" *matHeaderCellDef>Reason</th>
          <td mat-cell *matCellDef="let element">
            {{ element.reasonMessage }}
          </td>
        </ng-container>

        <ng-container matColumnDef="requestTime">
          <th mat-header-cell scope="col" *matHeaderCellDef>Last updated</th>
          <td mat-cell *matCellDef="let element">
            {{ element.requestTime | customDateFormat }}
          </td>
        </ng-container>

        <ng-container matColumnDef="admin">
          <th mat-header-cell scope="col" *matHeaderCellDef>Updated by</th>
          <td mat-cell *matCellDef="let element">
            {{ element.admin }}
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="connectionsColumnsToDisplay.length"
          >
            <div
              class="element-detail"
              [@detailExpand]="
                element === expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div class="element-expanded">
                <h3 class="mat-h3">
                  GMC Response:
                  <span>
                    {{ element.responseMessage }}
                  </span>
                </h3>
              </div>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="connectionsColumnsToDisplay"
          [ngClass]="{ hide: connectionHistory?.length === 0 }"
          class="element-row"
        ></tr>
        <tr
          tabindex="0"
          mat-row
          *matRowDef="let element; columns: connectionsColumnsToDisplay"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="currentExpanded(element, $event)"
          (keyup.enter)="currentExpanded(element, $event)"
          (keyup.space)="currentExpanded(element, $event)"
          [class.highlight-row-warn]="element.responseCode !== '0'"
          [class.highlight-row-success]="element.responseCode === '0'"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="detail-row"
        ></tr>

        <ng-container matColumnDef="noRecord">
          <td colspan="12" mat-footer-cell class="centered" *matFooterCellDef>
            <em class="icon-warn">No history available.</em>
          </td>
        </ng-container>
        <tr
          mat-footer-row
          *matFooterRowDef="['noRecord']"
          class="highlight-row-warn"
          [ngClass]="{ hide: connectionHistory?.length > 0 }"
        ></tr>
      </table>
    </mat-card>
    <app-update-connection
      *ngIf="enableUpdateConnection"
      [currentDoctorDbcCode]="doctorCurrentDbc"
      (submittFormEvent)="updateConnection($event)"
    >
    </app-update-connection>
  </div>
</ng-template>
