.comments-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  opacity: 0.8;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 150px;
  max-width: 100%;

  &:hover,
  &:focus {
    opacity: 1;
    transition: opacity 0.25s;
  }

  .mat-checkbox {
    margin-right: 12px;
  }
}
