<form [formGroup]="form" *ngIf="items$ | async">
  <mat-form-field class="app-allocate-admin-autocomplete">
    <mat-label>Select admin</mat-label>
    <input
      type="text"
      aria-label="Select admin"
      matInput
      [formControlName]="'autocomplete'"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayWith"
      (optionSelected)="onOptionSelected($event.option.value)"
    >
      <mat-option *ngFor="let i of filteredItems$ | async" [value]="i">
        {{ i.fullName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
