@import "../../../scss/material/variables";

:host {
  display: block;
  padding: 0 20px;

  @media screen and (max-width: $small) {
    padding: 0 0 24px 0;
  }
}
.mat-mdc-card-title {
  font-size: 12px;
  font-weight: bold;
}
