<form
  class="records-form"
  [formGroup]="recommendationForm"
  (ngSubmit)="saveDraft(true)"
>
  <div class="d-grid grid-container-2-col">
    <mat-form-field>
      <mat-label>Make a recommendation</mat-label>
      <mat-select formControlName="action">
        <mat-option
          *ngFor="let revalType of recommendationType | keyvalue"
          [value]="revalType.key"
        >
          {{ revalType.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="action?.hasError('required')">
        Please make a recommendation
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="deferSelected">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        formControlName="deferralDate"
        [min]="minReferralDate"
        [max]="maxReferralDate"
        [matDatepicker]="picker"
        disabled
      />
      <mat-error *ngIf="deferralDate?.hasError('required')">
        {{ getDeferralDateErrorMessage() }}
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="deferSelected">
      <mat-label>Reason</mat-label>
      <mat-select formControlName="deferralReason">
        <mat-option
          *ngFor="let reason of deferralReasons"
          [value]="reason.code"
        >
          {{ reason.reason }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="deferralReason?.hasError('required')">
        Reason must be provided
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="deferSelected && deferralSubReasons.length > 0">
      <mat-label>Sub reason</mat-label>
      <mat-select formControlName="deferralSubReason">
        <mat-option
          *ngFor="let reason of deferralSubReasons"
          [value]="reason.code"
        >
          {{ reason.reason }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="deferralSubReason?.hasError('required')">
        Sub reason must be provided
      </mat-error>
    </mat-form-field>
  </div>
  <app-comments
    class="d-block mt-20"
    [featureComments]="recommendation.comments"
  ></app-comments>

  <div class="button-row">
    <button type="button" mat-button mat-raised-button [routerLink]="['../']">
      Back
    </button>
    <button
      mat-button
      type="button"
      mat-raised-button
      [disabled]="recommendationForm ? !recommendationForm.valid : true"
      (click)="saveDraft(false)"
      color="accent"
    >
      Save draft
    </button>
    <button
      type="submit"
      mat-button
      mat-raised-button
      [disabled]="recommendationForm ? !recommendationForm.valid : true"
      color="primary"
    >
      Make recommendation
    </button>
    <span class="spacer"></span>
    <button
      type="button"
      mat-icon-button
      aria-label="Reset changes"
      matTooltipPosition="left"
      color="warn"
      matTooltip="Reset changes"
      (click)="resetForm()"
    >
      <mat-icon>restore</mat-icon>
    </button>
  </div>
</form>
