@import "../../../../node_modules/@angular/material/core/style/variables";
:host {
  display: block;
  padding: 8px 20px 24px 20px;

  @media screen and (#{max-width: 959px}) {
    padding: 0 0 24px 0;
  }
}
