<ng-container *ngFor="let menuItem of menuItems$">
  <ng-container *ngIf="menuItem.menuItems">
    <button
      mat-button
      [matMenuTriggerFor]="subMenu"
      (click)="setActiveItem(menuItem.name)"
      class="nav-item"
      [ngClass]="{ active: menuItem.name === activeItem }"
    >
      {{ menuItem.name }}
    </button>
    <mat-menu
      #subMenu="matMenu"
      [class]="menuItem.menuItems?.length > 5 ? 'mega-menu' : ''"
    >
      <ng-container *ngFor="let item of menuItem.menuItems">
        <ng-container *ngIf="showLink(item)">
          <a
            mat-menu-item
            *ngIf="item.type === 0"
            routerLink="{{ item.route }}"
            routerLinkActive="active-list-item"
            >{{ item.name }}</a
          >
          <a
            mat-menu-item
            *ngIf="item.type === 1"
            [href]="hostURI + item.route"
            >{{ item.name }}</a
          >
        </ng-container>
      </ng-container>
    </mat-menu>
  </ng-container>
</ng-container>
