@import "~@angular/material/core/style/variables";
@import "~nhsuk-frontend/packages/core/settings/colours";

// remove ng-deep if encapsulation is set to none
::ng-deep {
  .mat-menu-panel {
    &.mega-menu {
      max-width: 940.8px;
      @media screen and (#{$mat-small}) {
        max-width: 98%;
      }

      .mat-menu-content {
        display: flex;
        flex-wrap: wrap;
      }

      .mat-menu-item {
        flex: 0 1 20%;
        @media screen and (#{$mat-small}) {
          flex: 0 1 29%;
        }
      }
    }
  }
}

.active-list-item {
  font-weight: bold;
}

.mat-button {
  line-height: 60px;
  color: #919ea8 !important;

  &.active {
    border-bottom: 2px solid white;
    border-radius: 0;
    color: white !important;
  }

  &:hover,
  &:focus {
    color: white !important;
  }
}
