<ng-container *ngIf="enableUpdateConnections$ | async; else isDisabled">
  <button
    data-cy="disable-update-connections"
    color="primary"
    mat-icon-button
    matTooltip="Disable update connections"
    matTooltipPosition="below"
    matTooltipShowDelay="500"
    aria-label="Disable update connections"
    (click)="disableUpdateConnection()"
  >
    <mat-icon>link_off</mat-icon>
  </button>
</ng-container>

<ng-template #isDisabled>
  <button
    data-cy="enable-update-connections"
    color="primary"
    mat-icon-button
    matTooltip="Enable update connections"
    matTooltipPosition="below"
    matTooltipShowDelay="500"
    aria-label="Enable update connections"
    (click)="enableUpdateConnection()"
  >
    <mat-icon>link</mat-icon>
  </button>
</ng-template>
