<!-- spinner -->
<div class="p-20" *ngIf="uploadFileInProgress$ | async; else notLoading">
  <div *ngFor="let fileInProgress of filesInUploadProgress$ | async">
    <div class="mb-10">
      <span>
        {{ fileInProgress.file.name }}
      </span>
      <mat-progress-bar
        color="success"
        [value]="fileInProgress.progress"
      ></mat-progress-bar>
    </div>
  </div>
</div>

<ng-template #notLoading>
  <form [formGroup]="form">
    <div
      class="button-row upload centered p-20"
      #dropArea
      (dragenter)="preventDefaults($event); highlight()"
      (dragover)="preventDefaults($event); highlight()"
      (dragleave)="preventDefaults($event); unHighlight()"
      (drop)="preventDefaults($event); unHighlight(); handleDrop($event)"
    >
      <p>
        Drag and drop supporting documents, or click attach icon to upload:
      </p>
      <button
        mat-button
        color="accent"
        mat-mini-fab
        (click)="fileUploader.click()"
      >
        <mat-icon>attachment</mat-icon>
      </button>
      <input
        hidden
        type="file"
        #fileUploader
        multiple
        [formControlName]="'fileUploader'"
        [accept]="acceptedFileTypes"
        (change)="onFilesSelection($event)"
      />
      <p class="mat-caption">
        Supported files include: Images (.png. jpg), PDF, Word (.doc .docx) and
        excel (.xlxs .xls). Max file size
        <strong>{{ acceptedFileSize / (1024 * 1024) }} MB</strong>
      </p>
    </div>
  </form>
</ng-template>
