@import "~nhsuk-frontend/packages/core/settings/colours";

.file {
  &.upload {
    background-color: $color_nhsuk-grey-5;
  }
  &.centered {
    align-items: center;
    justify-content: center;
  }
  &.highlight {
    background-color: tint($color_nhsuk-green, 95%);
  }
}
