@import "@angular/material/core/style/_variables.scss";

.mat-toolbar-row,
.mat-toolbar-single-row {
  @media screen and (#{$mat-xsmall}) {
    height: 72px;
  }
}

.mat-icon-button.logo-icon {
  width: 100px;
  height: 40px;
  line-height: 1;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 90%;
}

.icon_nhs_logo.mat-icon {
  width: 100px;
  height: 40px;

  &:hover {
    box-shadow: 0 0 0 4px #003d78;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fill-space {
  flex: 1 1 auto;
  padding-left: 16px;
}

.mat-icon-button,
.mat-drawer {
  &.hidden {
    display: none;
  }
}

// TO DO extract all to mixins for re-use with media queries
.no-decoration-link {
  text-decoration: none;
  color: inherit;
}

.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}
