<ng-container *ngIf="!hidden">
  <div [ngSwitch]="control?.controlType">
    <app-material-checkbox
      *ngSwitchCase="formControlType.CHECKBOX"
      [controlProperties]="control"
      [form]="form"
    >
    </app-material-checkbox>
    <app-material-selection-list
      *ngSwitchCase="formControlType.SELECTION_LIST"
      [controlProperties]="control"
      [form]="form"
      (changed)="onChange()"
    ></app-material-selection-list>
    <app-material-autocomplete
      *ngSwitchCase="formControlType.AUTOCOMPLETE"
      [controlProperties]="control"
      [form]="form"
      (changed)="onChange()"
    >
    </app-material-autocomplete>

    <app-material-date-range-picker
      *ngSwitchCase="formControlType.DATERANGEPICKER"
      [controlProperties]="control"
      [form]="form"
      (changed)="onChange()"
    >
    </app-material-date-range-picker>
  </div>
</ng-container>
