<ng-container *ngIf="!hidden">
  <div [ngSwitch]="control?.controlType" [formGroup]="form">
    <app-material-checkbox
      *ngSwitchCase="formControlType.CHECKBOX"
      [controlProperties]="control"
      [formControlName]="control.key"
    >
    </app-material-checkbox>
    <app-material-selection-list
      *ngSwitchCase="formControlType.SELECTION_LIST"
      [controlProperties]="control"
      [formControlName]="control.key"
    ></app-material-selection-list>
    <app-material-autocomplete
      *ngSwitchCase="formControlType.AUTOCOMPLETE"
      [controlProperties]="control"
      [formControlName]="control.key"
    >
    </app-material-autocomplete>
  </div>
</ng-container>
