@import "../../../scss/utilities/spacing-helpers";

@include mat-table-columns(
  (
    doctorFirstName: (
      width: 180px
    ),
    doctorLastName: (
      width: 180px
    ),
    gmcReferenceNumber: (
      width: 80px
    ),
    submissionDate: (
      width: 180px
    ),
    doctorStatus: (
      width: 100px
    ),
    programmeName: (
      width: 160px
    ),
    programmeMembershipType: (
      width: 180px
    ),
    cctDate: (
      width: 110px
    ),
    admin: (
      width: 150px
    ),
    lastUpdatedDate: (
      width: 110px
    )
  )
);
