<form
  class="d-grid trainee-search"
  (ngSubmit)="checkForm()"
  [formGroup]="form"
  autocomplete="off"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Enter name / GMC no"
      [formControlName]="'searchQuery'"
      [value]="searchQuery$ | async"
    />
    <mat-error *ngIf="form.invalid">No search terms entered</mat-error>
  </mat-form-field>
  <button mat-button color="primary" aria-label="Trainees search" type="submit">
    <mat-icon aria-label="search icon">search</mat-icon>
  </button>
</form>
