<form
  class="d-grid trainee-search"
  (ngSubmit)="checkForm()"
  [formGroup]="form"
  #ngForm="ngForm"
  autocomplete="off"
>
  <mat-form-field>
    <mat-label>Enter name / GMC no</mat-label>
    <input
      matInput
      type="text"
      [formControlName]="'searchQuery'"
      [value]="searchQuery$ | async"
    />
    <button
      mat-button
      matSuffix
      color="primary"
      aria-label="Trainees search"
      type="submit"
    >
      <mat-icon aria-label="search icon">search</mat-icon>
    </button>
    <mat-error *ngIf="form.invalid">No search terms entered</mat-error>
  </mat-form-field>
</form>
