@import "~nhsuk-frontend/packages/core/settings/colours";

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);

  &:hover {
    color: rgba(0, 0, 0, 1);
  }
}
.mat-list-item {
  cursor: pointer;
}
.button-row {
  &.upload {
    background-color: $color_nhsuk-grey-5;
    border: 2px solid $color_nhsuk-grey-4;
    border-radius: 4px;
  }
  &.centered {
    align-items: center;
    justify-content: center;
  }
  &.highlight {
    background-color: tint($color_nhsuk-green, 95%);
    border: 2px dashed $color_nhsuk-green;
  }
}
