@import "../../../../node_modules/@angular/material/core/style/variables";

.concern-stepper {
  .mat-horizontal-content-container {
    padding: 0 20px 24px 20px;

    @media screen and (#{$mat-small}) {
      padding: 0 0 24px 0;
    }
  }
  .mat-card-title {
    font-size: 16px;
  }
}
