<form class="records-form" [formGroup]="concernForm">
  <div
    class="button-row upload centered pt-20 pb-20"
    #dropArea
    (dragenter)="preventDefaults($event); highlight()"
    (dragover)="preventDefaults($event); highlight()"
    (dragleave)="preventDefaults($event); unhighlight()"
    (drop)="preventDefaults($event); unhighlight(); handleDrop($event)"
  >
    <p class="pr-10">Upload supporting documents:</p>
    <button
      mat-button
      color="accent"
      mat-mini-fab
      (click)="imgFileInput.click()"
    >
      <mat-icon>attachment</mat-icon>
    </button>
    <input
      hidden
      type="file"
      multiple
      #imgFileInput
      (change)="fileChange($event)"
    />
  </div>
  <mat-divider></mat-divider>
  <mat-list>
    <div mat-subheader>Uploaded documents</div>
    <mat-list-item
      *ngFor="let file of downloadFiles"
      (click)="downloadDocument($event)"
    >
      <mat-icon mat-list-icon *ngIf="file.type === 'doc'">note</mat-icon>
      <mat-icon mat-list-icon *ngIf="file.type === 'pdf'"
        >picture_as_pdf</mat-icon
      >
      <mat-icon mat-list-icon *ngIf="file.type === 'image'">photo</mat-icon>

      <div mat-line>{{ file.name }}</div>
      <div mat-line>{{ file.updated | date: dateFormat }}</div>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <div class="comments-section">
    <div formArrayName="comments" class="comments">
      <ng-container
        *ngFor="let comment of comments.controls; let i = index"
        [formGroupName]="i"
      >
        <mat-form-field class="full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea
            matInput
            [formControlName]="'comment'"
            placeholder="comments..."
            rows="10"
          ></textarea>
          <div class="select-control">
            <mat-checkbox [formControlName]="'checkbox'"></mat-checkbox>
          </div>
        </mat-form-field>
      </ng-container>
    </div>
  </div>
</form>
