<div class="filters-wrapper">
  <div class="mb-20">
    <h2>Filters</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div *ngFor="let control of meta" class="form-row">
        <app-form-controller
          [control]="control"
          [form]="form"
        ></app-form-controller>
      </div>

      <div class="d-flex justify-content-end">
        <button
          [disabled]="!form.valid || !form.dirty"
          type="button"
          mat-button
          mat-raised-button
          color="secondary"
          (click)="clearFilters()"
        >
          Clear filters
        </button>
        <button
          [disabled]="!form.valid || !form.dirty"
          type="submit"
          mat-button
          mat-raised-button
          color="primary"
        >
          Apply filters
        </button>
      </div>
    </form>
  </div>
</div>
