<div class="filters-wrapper">
  <div class="mb-20">
    <h2>Filters</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div *ngFor="let control of meta" class="form-row">
        <app-form-controller
          [control]="control"
          [form]="form"
        ></app-form-controller>
      </div>

      <div class="form-row">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
          Filter
        </button>
      </div>
    </form>

    {{ filters | json }}
  </div>
</div>
