.filters-wrapper {
  background-color: #fafafa;
}

.filter-form-header {
  padding: 0px 10px;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fafafa;
  z-index: 100;
  position: sticky;
  top: 68px;
}
