@import "../../../../node_modules/nhsuk-frontend/packages/core/settings/colours";
@import "../../../scss/utilities/spacing-helpers";

.is-under-notice td:first-child {
  padding-left: 20px;
  border-left: solid 4px $color_nhsuk-red;
}

::ng-deep {
  .mat-column-programmeName {
    .split-item {
      display: block;
      padding-top: 4px;
      color: #da291c;
    }
    &:last-child {
      padding-bottom: 4px;
    }
  }
}
.fixed {
  white-space: nowrap;
}

.cell-highlight {
  background-color: #fafafa !important;
  &.start {
    border-left: 1px solid #ddd;
  }
  &.end {
    border-right: 1px solid #ddd9;
  }
}
