@import "../../../../node_modules/nhsuk-frontend/packages/core/settings/colours";
@import "../../../scss/utilities/spacing-helpers";
@import "../../../scss/nhsuk/colours";

.is-under-notice td:first-child {
  padding-left: 20px;
  border-left: solid 4px $color_nhsuk-red;
}

::ng-deep {
  .mat-column-programmeName {
    .split-item {
      display: block;
      padding-top: 4px;
      color: #da291c;
    }
    &:last-child {
      padding-bottom: 4px;
    }
  }
}
th.fixed {
  white-space: nowrap;
}

// common columns
@include mat-table-columns(
  (
    doctorFirstName: (
      width: 180px
    ),
    doctorLastName: (
      width: 180px
    ),
    gmcReferenceNumber: (
      width: 80px
    ),
    admin: (
      width: 180px
    ),
    programmeName: (
      width: 160px
    ),
    programmeMembershipType: (
      width: 180px
    )
  )
);

// reommendations columns
@include mat-table-columns(
  (
    submissionDate: (
      width: 180px
    ),
    doctorStatus: (
      width: 120px
    ),
    curriculumEndDate: (
      width: 130px
    ),
    lastUpdatedDate: (
      width: 110px
    ),
    gmcOutcome: (
      width: 120px
    )
  )
);

// concerns columns
@include mat-table-columns(
  (
    programme: (
      width: 160px
    ),
    dateRaised: (
      width: 100px
    ),
    type: (
      width: 160px
    ),
    site: (
      width: 160px
    ),
    source: (
      width: 140px
    ),
    status: (
      width: 100px
    ),
    followUpDate: (
      width: 180px
    ),
    closedDate: (
      width: 110px
    )
  )
);

// connections columns
@include mat-table-columns(
  (
    designatedBody: (
      width: 160px
    ),
    programmeOwner: (
      width: 180px
    ),
    connectionStatus: (
      width: 180px
    ),
    programmeMembershipStartDate: (
      width: 180px
    ),
    programmeMembershipEndDate: (
      width: 110px
    )
  )
);

$nhs-colours: (
  nhs-blue: $color_nhsuk-blue,
  nhs-green: $color_nhsuk-green,
  nhs-red: $color_nhsuk-red,
  nhs-purple: $color_nhsuk-purple,
  nhs-pink: $color_nhsuk-dark-pink
) !default;

@mixin cell-highlights() {
  @each $colour-name, $colour-value in $nhs-colours {
    .cell-highlight-#{$colour-name} {
      background-color: tint($colour-value, 80%) !important;
    }
  }
}
@include cell-highlights();

.column-group-header {
  font-weight: bold;
  background-color: #f0f0f0 !important;
}

.cell-highlight {
  &.start {
    border-left: 2px solid #ccc;
  }
  &.end {
    border-right: 2px solid #ccc;
  }
}
