@import "../../scss/material/variables";
@import "../../../node_modules/nhsuk-frontend/packages/core/settings/colours";

.records-top-section {
  grid-template-columns: minmax(0, 1fr) auto auto;
  background: $color_nhsuk-white;
  border-bottom: 1px solid #ddd;

  @media screen and (max-width: $xsmall) {
    :first-child {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}

.filters-drawer-container {
  background-color: #fafafa;
  .mat-drawer-content {
    min-height: 840px;
  }
}
.mat-drawer {
  background-color: #fafafa;
  width: 300px;
}

.sticky {
  background-color: #fff;
  border: 1px solid #eee;
  display: inline-block;
  position: sticky;
  bottom: 0;
  padding: 30px;
  z-index: 2;
  opacity: 0;
  transition: all 300ms ease-in;
  &.show {
    opacity: 1;
  }
}
