<app-record-list-filters></app-record-list-filters>

<div
  *ngIf="loading; else notLoading"
  class="d-flex align-content-center justify-content-center align-items-center progress-spinner"
>
  <mat-spinner></mat-spinner>
</div>

<ng-template #notLoading>
  <div class="d-grid records-top-section align-items-center sticky-toolbar">
    <app-record-search></app-record-search>
    <app-refresh-data-btn class="d-grid pl-5"></app-refresh-data-btn>
    <app-record-list-paginator></app-record-list-paginator>
  </div>

  <app-update-connection
    *ngIf="enableUpdateConnections$ | async"
    (submittFormEvent)="updateConnections($event)"
  >
  </app-update-connection>
  <app-allocate-admin-actions
    *ngIf="enableAllocateAdmin$ | async"
  ></app-allocate-admin-actions>
  <app-record-list></app-record-list>
</ng-template>
