<div class="trainee-details" [ngClass]="{'large-display': (isHandset$ | async) === false}"
    *ngIf="revalidationHistory$ | async as revalidationHistory">
    <mat-list>
        <mat-list-item *ngIf="revalidationHistory.traineeName">
            <div class="mat-caption" mat-line>Name:</div>
            <div mat-line>{{revalidationHistory.traineeName}}</div>
        </mat-list-item>
        <mat-list-item *ngIf="revalidationHistory.gmcId">
            <div class="mat-caption" mat-line>GMC No:</div>
            <div mat-line>{{revalidationHistory.gmcId}}</div>
        </mat-list-item>
        <mat-list-item *ngIf="revalidationHistory.programmeMembershipType">
            <div class="mat-caption" mat-line>Programme membership type:</div>
            <div mat-line>{{revalidationHistory.programmeMembershipType}}</div>
        </mat-list-item>
        <mat-list-item *ngIf="revalidationHistory.currentGrade">
            <div class="mat-caption" mat-line>Current grade:</div>
            <div mat-line>{{revalidationHistory.currentGrade}}</div>
        </mat-list-item>
        <mat-list-item *ngIf="revalidationHistory.cctDate">
            <div class="mat-caption" mat-line>CCT date:</div>
            <div mat-line>{{revalidationHistory.cctDate | date: dateFormat}}</div>
        </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
        <a mat-list-item href="" *ngFor="let link of sideLinks"> {{ link.text }} </a>
    </mat-nav-list>
</div>