<form class="revalidation-form w-100" [formGroup]="revalidationForm">
    <mat-form-field class="w-100">
        <mat-label>Select an action</mat-label>
        <mat-select formControlName="action">
            <mat-option>None</mat-option>
            <mat-option value="Revalidate">Revalidate</mat-option>
            <mat-option value="Defer">Defer</mat-option>
            <mat-option value="Non-Engagement">Non-Engagement</mat-option>
        </mat-select>
        <mat-error *ngIf="revalidationForm.controls['action']?.hasError('required')">
            Please select an action
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="revalidationForm.controls['action']?.value === 'Defer'">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="deferralDate" [matDatepicker]="picker">
        <mat-error *ngIf="revalidationForm.controls['deferralDate']?.hasError('required')">
            Date must be entered
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="revalidationForm.controls['action']?.value === 'Defer'">
        <mat-label>Reason</mat-label>
        <input matInput placeholder="Reason for ..." formControlName="deferralReason">
        <mat-error *ngIf="revalidationForm.controls['deferralReason']?.hasError('required')">
            Reason must be provided
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" formArrayName="comments">
        <mat-label>Leave a comment</mat-label>
        <ng-container *ngFor="let comment of comments.controls; let i=index">
            <textarea matInput [formControlName]="i" placeholder="comments..."></textarea>
        </ng-container>
    </mat-form-field>


</form>