<mat-spinner *ngIf="loading$ | async"></mat-spinner>

<ng-container *ngIf="trainees$ | async as trainees">
  <mat-table
    *ngIf="sort$ | async as sort"
    [dataSource]="trainees"
    matSort
    (matSortChange)="sortTrainees($event)"
    [matSortActive]="sort.active"
    [matSortDirection]="sort.direction"
  >
    <ng-container *ngFor="let i of columnData" matColumnDef="{{ i.label }}">
      <mat-header-cell *matHeaderCellDef [mat-sort-header]="i.name">{{
        i.label
      }}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element[i.name] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnLabels"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: columnLabels"
      (click)="traineeDetails($event, row)"
      (keyup.enter)="traineeDetails($event, row)"
      (keyup.space)="traineeDetails($event, row)"
      tabindex="0"
      role="button"
    >
    </mat-row>
  </mat-table>
</ng-container>
