<ng-container
  *ngIf="{
    loading: loading$ | async,
    totalResults: totalResults$ | async,
    error: error$ | async
  } as data"
>
  <!-- spinner -->
  <div
    *ngIf="data.loading; else notLoading"
    class="d-grid justify-content-center"
  >
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #notLoading>
    <!--  error -->
    <div
      *ngIf="data.error; else trainees"
      class="d-grid justify-content-center"
    >
      <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
        <mat-chip selected color="warn">{{ data.error }}</mat-chip>
      </mat-chip-list>
    </div>

    <!-- trainees -->
    <ng-template #trainees>
      <ng-container *ngIf="data.totalResults; else noResults">
        <mat-table
          *ngIf="{
            sort: sort$ | async,
            trainees: trainees$ | async
          } as data"
          [dataSource]="data.trainees"
          matSort
          matSortDisableClear
          (matSortChange)="sortTrainees($event)"
          [matSortActive]="data.sort.active"
          [matSortDirection]="data.sort.direction"
        >
          <ng-container
            *ngFor="let i of columnData"
            matColumnDef="{{ i.label }}"
          >
            <ng-container *ngIf="i.enableSort; else disabledSort">
              <mat-header-cell *matHeaderCellDef [mat-sort-header]="i.name">{{
                i.label
              }}</mat-header-cell>
            </ng-container>
            <ng-template #disabledSort>
              <mat-header-cell
                *matHeaderCellDef
                [mat-sort-header]="i.name"
                disabled
                >{{ i.label }}</mat-header-cell
              >
            </ng-template>
            <mat-cell *matCellDef="let element">{{ element[i.name] }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnLabels"></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: columnLabels"
            (click)="traineeDetails($event, row)"
            (keyup.enter)="traineeDetails($event, row)"
            (keyup.space)="traineeDetails($event, row)"
            tabindex="0"
            role="button"
          >
          </mat-row>
        </mat-table>
      </ng-container>

      <!--  no results found -->
      <ng-template #noResults>
        <div class="d-grid justify-content-center">
          No results found
        </div>
      </ng-template>
    </ng-template>
  </ng-template>
</ng-container>
