@import "../../../../node_modules/@angular/material/core/style/variables";

$main-navbar-height: 64px;
$child-navbar-height: 48px;
$toolbar-height: 64px;

.main-col {
  grid-template-rows: auto auto;
}

.record-details {
  grid-template-columns: 280px 1px auto;
  min-height: calc(100vh - #{$main-navbar-height} - #{$child-navbar-height});

  .record-content-container {
    padding: 24px 16px;
    overflow: hidden;
  }
}

.notes-drawer-container {
  min-height: calc(
    100vh - #{$main-navbar-height} - #{$child-navbar-height} - #{$toolbar-height}
  );
}

.mat-drawer {
  background-color: #fafafa;
  width: 360px;
}
.button-row {
  margin: 48px 0;
  display: flex;
  flex-direction: row;

  @media screen and (#{$mat-xsmall}) {
    flex-direction: column;
    margin: 32px 0 16px 0px;
  }

  & button {
    display: table-cell;
    margin: 0 8px 0 0;

    @media screen and (#{$mat-xsmall}) {
      margin: 0 0 16px 0;
      align-self: center;
      width: 98%;
    }

    &:last-of-type,
    &:last-child {
      margin-right: 0px;
    }
  }
}

.records-form {
  min-width: 150px;
  max-width: 100%;
}

.mat-badge-content {
  font-family: "Frutiger W01", "Arial", "Sans-serif", Serif;
}
