<app-nav-bar></app-nav-bar>

<ng-container *ngIf="{ isHandset: isHandset$ | async }; let device">
  <div class="record-details" [ngClass]="{ 'd-grid': !device.isHandset }">
    <div class="left-nav" *ngIf="!device.isHandset">
      <app-details-side-nav></app-details-side-nav>
    </div>

    <mat-divider *ngIf="!device.isHandset" [vertical]="true"></mat-divider>

    <div
      class="main-col d-grid bg-white"
      *ngIf="{
        ishandset: device.isHandset,
        shownotes: showNotes$ | async
      } as toolbarSettings"
    >
      <mat-toolbar
        class="sticky-toolbar"
        *ngIf="toolbarSettings.ishandset || toolbarSettings.shownotes"
      >
        <ng-container *ngIf="toolbarSettings.ishandset">
          <mat-menu #recommendationMenu="matMenu">
            <app-details-side-nav></app-details-side-nav>
          </mat-menu>

          <button
            mat-icon-button
            aria-label="Recommendation details"
            [matMenuTriggerFor]="recommendationMenu"
          >
            <mat-icon aria-label="Recommendation details">account_box</mat-icon>
          </button>
        </ng-container>

        <span class="spacer"></span>

        <ng-container *ngIf="toolbarSettings.shownotes">
          <app-notes-tool-bar></app-notes-tool-bar>
        </ng-container>
      </mat-toolbar>

      <div class="record-content-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-container>
