<app-nav-bar></app-nav-bar>
<ng-container>
  <ng-container *ngIf="{ isHandset: isHandset$ | async }; let device">
    <div class="record-details" [ngClass]="{ 'd-grid': !device.isHandset }">
      <div class="left-nav" *ngIf="!device.isHandset">
        <app-details-side-nav></app-details-side-nav>
      </div>

      <mat-divider *ngIf="!device.isHandset" [vertical]="true"></mat-divider>

      <div
        class="main-col d-grid align-content-start bg-white"
        *ngIf="{
          ishandset: device.isHandset
        } as toolbarSettings"
      >
        <app-tool-bar></app-tool-bar>

        <mat-drawer-container class="notes-drawer-container">
          <mat-drawer
            #notesDrawer
            [mode]="toolbarSettings.ishandset ? 'over' : 'side'"
            position="end"
            [opened]="isOpen$ | async"
          >
            <app-notes-drawer></app-notes-drawer>
          </mat-drawer>
          <mat-drawer-content>
            <div class="record-content-container">
              <router-outlet></router-outlet>
            </div>
          </mat-drawer-content>
        </mat-drawer-container>
      </div>
    </div>
  </ng-container>
</ng-container>
