<ng-container
  *ngIf="{
    loading: loading$ | async,
    totalResults: totalResults$ | async,
    error: error$ | async
  } as data"
>
  <!-- spinner -->
  <div
    *ngIf="data.loading; else notLoading"
    class="d-grid justify-content-center"
  >
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #notLoading>
    <!--  error -->
    <div *ngIf="data.error; else items" class="d-grid justify-content-center">
      <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
        <mat-chip selected color="warn">{{ data.error }}</mat-chip>
      </mat-chip-list>
    </div>

    <!-- Records list -->
    <ng-template #items>
      <ng-container *ngIf="data.totalResults; else noResults">
        <div class="table-container">
          <table
            mat-table
            *ngIf="{
              sort: sort$ | async,
              items: items$ | async,
              enableAllocateAdmin: enableAllocateAdmin$ | async,
              allChecked: allChecked$ | async,
              someChecked: someChecked$ | async
            } as data"
            class="w-100"
            [dataSource]="data.items"
            matSort
            matSortDisableClear
            (matSortChange)="sort($event)"
            [matSortActive]="data.sort.active"
            [matSortDirection]="data.sort.direction"
          >
            <caption class="collapsed no-height">
              Records list
            </caption>
            <ng-container
              *ngFor="let i of columnData"
              matColumnDef="{{ i.name }}"
            >
              <!-- header cell -->
              <th
                mat-header-cell
                *matHeaderCellDef
                [mat-sort-header]="i.name"
                scope="col"
                [disabled]="data.enableAllocateAdmin || !i.enableSort"
              >
                <mat-checkbox
                  *ngIf="
                    data.enableAllocateAdmin && i.name === 'doctorFirstName'
                  "
                  [checked]="data.allChecked"
                  [indeterminate]="data.someChecked"
                  (change)="toggleAllCheckboxes()"
                  class="pr-20"
                >
                </mat-checkbox>
                {{ i.label }}
              </th>

              <!-- mat cell -->
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="data.enableAllocateAdmin">
                  <!-- checkbox -->
                  <ng-container *ngIf="i.name === 'doctorFirstName'">
                    <mat-checkbox
                      class="pr-20"
                      [checked]="element.checked"
                      (change)="toggleCheckbox(element.gmcReferenceNumber)"
                    ></mat-checkbox>
                  </ng-container>

                  <!-- render allocate admin component -->
                  <ng-container *ngIf="i.name === 'admin'">
                    <app-allocate-admin-autocomplete
                      [gmcNumber]="element.gmcReferenceNumber"
                    ></app-allocate-admin-autocomplete>
                  </ng-container>
                </ng-container>

                <!-- cell value | format date -->
                <ng-container *ngIf="dateColumns.includes(i.name); else noPipe">
                  {{ element[i.name] | date: dateFormat }}
                </ng-container>

                <!-- cell value | no formatting needed -->
                <ng-template #noPipe>{{ element[i.name] }}</ng-template>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: columnNames"
              (click)="navigateToDetails($event, row, data.enableAllocateAdmin)"
              (keyup.enter)="
                navigateToDetails($event, row, data.enableAllocateAdmin)
              "
              (keyup.space)="
                navigateToDetails($event, row, data.enableAllocateAdmin)
              "
              [class.highlight-row-warn]="row.underNotice === 'YES'"
              [class.cursor-auto]="data.enableAllocateAdmin"
              tabindex="0"
            ></tr>
          </table>
        </div>
      </ng-container>

      <!--  no results found -->
      <ng-template #noResults>
        <div class="d-grid justify-content-center">
          No results found
        </div>
      </ng-template>
    </ng-template>
  </ng-template>
</ng-container>
