<ng-container
  *ngIf="{
    loading: loading$ | async,
    totalResults: totalResults$ | async,
    error: error$ | async
  } as data"
>
  <!-- spinner -->
  <div
    *ngIf="data.loading; else notLoading"
    class="d-grid justify-content-center"
  >
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #notLoading>
    <!--  error -->
    <div *ngIf="data.error; else items" class="d-grid justify-content-center">
      <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
        <mat-chip selected color="warn">{{ data.error }}</mat-chip>
      </mat-chip-list>
    </div>

    <!-- Records list -->
    <ng-template #items>
      <ng-container *ngIf="data.totalResults; else noResults">
        <div class="table-container">
          <table
            mat-table
            *ngIf="{
              sort: sort$ | async,
              items: items$ | async
            } as data"
            class="w-100"
            [dataSource]="data.items"
            matSort
            matSortDisableClear
            (matSortChange)="sort($event)"
            [matSortActive]="data.sort.active"
            [matSortDirection]="data.sort.direction"
          >
            <caption class="collapsed no-height">
              Records list
            </caption>
            <ng-container
              *ngFor="let i of columnData"
              matColumnDef="{{ i.name }}"
            >
              <ng-container *ngIf="i.enableSort; else disabledSort">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  [mat-sort-header]="i.name"
                  scope="col"
                >
                  {{ i.label }}
                </th>
              </ng-container>
              <ng-template #disabledSort>
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  [mat-sort-header]="i.name"
                  scope="col"
                  disabled
                >
                  {{ i.label }}
                </th>
              </ng-template>

              <!-- mat cell -->
              <td mat-cell *matCellDef="let element">
                <ng-container
                  *ngIf="dateColumns.includes(i.name); else noPipe"
                  >{{ element[i.name] | date: dateFormat }}</ng-container
                >
                <ng-template #noPipe>{{ element[i.name] }}</ng-template>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: columnNames"
              (click)="navigateToDetails($event, row)"
              (keyup.enter)="navigateToDetails($event, row)"
              (keyup.space)="navigateToDetails($event, row)"
              tabindex="0"
              role="button"
            ></tr>
          </table>
        </div>
      </ng-container>

      <!--  no results found -->
      <ng-template #noResults>
        <div class="d-grid justify-content-center">
          No results found
        </div>
      </ng-template>
    </ng-template>
  </ng-template>
</ng-container>
