@import "../../../node_modules/nhsuk-frontend/packages/core/settings/colours";

tr.detail-row.mat-row {
  height: 0;
}

tr.element-row {
  cursor: pointer;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.outcome {
  line-height: 24px;
  display: flex;
  vertical-align: middle;
}

.outcome-text {
  margin-left: 8px;
}

.element-expanded {
  padding: 16px 0;
}

.element-description-attribution {
  opacity: 0.5;
}
