<ng-container *ngIf="enableAllocateAdmin$ | async; else isDisabled">
  <button
    color="primary"
    mat-icon-button
    aria-label="Disable allocate admin"
    (click)="disableAllocateAdmin()"
    matTooltip="Disable allocate admin"
    matTooltipPosition="below"
    matTooltipShowDelay="500"
  >
    <mat-icon>person_add_disabled</mat-icon>
  </button>
</ng-container>

<ng-template #isDisabled>
  <button
    mat-icon-button
    color="primary"
    aria-label="Enable allocate admin"
    (click)="enableAllocateAdmin()"
    matTooltip="Enable allocate admin"
    matTooltipPosition="below"
    matTooltipShowDelay="500"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</ng-template>
