@import "../../../../node_modules/@angular/material/core/style/variables";

.comments-section {
  position: relative;

  .select-control {
    position: absolute;
    right: 16px;
    bottom: 5px;
  }

  .comments {
    textarea.mat-input-element {
      width: 100%;
      padding: 2px 0 20px 0px;
    }
  }
}

.comments-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  opacity: 0.8;
  margin: 0 auto;

  &:hover,
  &:focus {
    opacity: 1;
    transition: opacity 0.25s;
  }
}
