<div class="trainee-container mat-elevation-z8">
    <ng-container *ngIf="doctors">
        <mat-table *ngIf="sort" [dataSource]="doctors" matSort matSortDisableClear
            (matSortChange)="sortTrainees($event)" [matSortActive]="sort.active" [matSortDirection]="sort.direction">

            <!-- Header row second group -->
            <ng-container matColumnDef="header-toolbar">
                <mat-header-cell *matHeaderCellDef class="tool-bar-column">

                    <span class="spacer"></span>
                    <form class="small-wrapper" [formGroup]="searchTraineesForm" (ngSubmit)="searchSubmit()">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Search</mat-label>
                            <input autocomplete="off" matInput type="search" formControlName="searchTrainees"
                                placeholder="GMC number, First or Last name">
                            <button type="submit" mat-button matSuffix mat-icon-button aria-label="Search">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>

                    <button mat-icon-button [matMenuTriggerFor]="traineeMenu" aria-label="Application status menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #traineeMenu="matMenu">
                        <button mat-menu-item (click)="resetData()">
                            <mat-icon color="primary">restore_page</mat-icon>
                            <span>Reset filters</span>
                        </button>

                        <button mat-menu-item>
                            <mat-icon color="primary">supervisor_account</mat-icon>
                            <span>Allocate admin</span>
                        </button>
                    </mat-menu>
                </mat-header-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['header-toolbar']; sticky: true"></mat-header-row>


            <ng-container *ngFor="let i of columnData" matColumnDef="{{ i.label }}">
                <ng-container *ngIf="i.enableSort; else disabledSort">
                    <mat-header-cell *matHeaderCellDef [mat-sort-header]="i.name">{{
            i.label
          }}</mat-header-cell>
                </ng-container>
                <ng-template #disabledSort>
                    <mat-header-cell *matHeaderCellDef [mat-sort-header]="i.name" disabled>{{ i.label }}
                    </mat-header-cell>
                </ng-template>
                <mat-cell *matCellDef="let element">{{ element[i.name] }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnLabels"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnLabels" (click)="traineeDetails($event, row)"
                (keyup.enter)="traineeDetails($event, row)" (keyup.space)="traineeDetails($event, row)" tabindex="0"
                role="button">
            </mat-row>

            <ng-container matColumnDef="noRecord">
                <mat-footer-cell class="centered" *matFooterCellDef><em class="icon-red">No records found.</em>
                </mat-footer-cell>
            </ng-container>

            <mat-footer-row *matFooterRowDef="['noRecord']" [ngClass]="{'hide':doctors.length > 0}"></mat-footer-row>

        </mat-table>
    </ng-container>

    <mat-paginator color="primary" *ngIf="count" [length]="count" [pageIndex]="pageNumber" [pageSize]="20"
        [hidePageSize]="true" (page)="paginateTrainees($event)">
    </mat-paginator>
</div>