@import "~nhsuk-frontend/packages/core/settings/colours";
::ng-deep {
  .mat-footer-cell {
    &.centered {
      justify-content: center;
    }
  }

  .mat-header-cell {
    &.tool-bar-column {
      padding: 4px 16px;
    }
  }

  .trainee-container {
    z-index: 10;
    position: relative;
    height: 100vh;
    overflow: unset;
  }

  .mat-sort-header-sorted {
    color: $color_nhsuk-black;
  }

  .small-wrapper {
    font-size: 14px;
    min-width: 250px;
    max-width: 280px;
    width: 100%;
    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }
  }
}
