<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="trainee-detail">
  <div
    class="d-grid grid-container-2-col"
    *ngIf="{
      grades: grades$ | async,
      sites: sites$ | async,
      employers: employers$ | async
    } as data"
  >
    <mat-form-field>
      <mat-label>Grade</mat-label>
      <mat-select formControlName="grade">
        <mat-option *ngFor="let grade of data.grades" [value]="grade.id">
          {{ grade.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-allocate-admin-autocomplete></app-allocate-admin-autocomplete>

    <mat-form-field>
      <mat-label>Site</mat-label>
      <mat-select formControlName="site">
        <mat-option *ngFor="let site of data.sites" [value]="site.id">
          {{ site.siteName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.site.hasError('required')">
        Site must be provided
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Employer</mat-label>
      <mat-select formControlName="employer">
        <mat-option
          *ngFor="let employer of data.employers"
          [value]="employer.id"
        >
          {{ employer.trustName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.employer.hasError('required')">
        Employer must be provided
      </mat-error>
    </mat-form-field>
  </div>

  <div class="button-row">
    <button
      mat-button
      mat-raised-button
      type="button"
      (click)="stepper.previous()"
    >
      Back
    </button>
    <button mat-button mat-raised-button color="primary" type="submit">
      Next
    </button>
  </div>
</form>
