<ng-container *ngIf="{ isHandset: isHandset$ | async }; let device">
  <mat-toolbar>
    <mat-toolbar-row>
      <ng-container *ngIf="device.isHandset">
        <mat-menu #traineeMenu="matMenu">
          <app-trainee-details></app-trainee-details>
        </mat-menu>

        <button mat-icon-button aria-label="Trainee details" [matMenuTriggerFor]="traineeMenu">
          <mat-icon aria-label="Trainee details">account_box</mat-icon>
        </button>
      </ng-container>

      <span class="spacer"></span>

      <button mat-icon-button aria-label="Add notes" (click)="openNotes()" color="primary">
        <mat-icon matBadge="4">speaker_notes</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="revalidation-history" [ngClass]="{ 'd-flex': !device.isHandset }">
    <div class="left-nav" *ngIf="!device.isHandset">
      <app-trainee-details></app-trainee-details>
    </div>

    <mat-divider *ngIf="!device.isHandset" [vertical]="true"></mat-divider>

    <ng-container *ngIf="revalidationHistory$ | async as revalidationHistory">
      <mat-horizontal-stepper #stepper linear>

        <mat-step label="history">
          <app-revalidation-table [recommendationHistory]="revalidationHistory.recommendations">
          </app-revalidation-table>
          <div class="button-row">
            <button mat-button mat-raised-button matStepperNext color="primary">
              Create recommendation
              <!--//TODO: Edit recommendation -->
            </button>
            <span class="spacer"></span>
          </div>
        </mat-step>

        <mat-step [completed]="revalidationForm ? revalidationForm.valid : false">
          <!--// TODO: pass object in draft-->
          <app-revalidation-form (notify)='onRevalidationForm($event)' [recommendationHistory]="{}">
          </app-revalidation-form>
          <div class="button-row">
            <button mat-button mat-raised-button matStepperPrevious>Back</button>
            <button mat-button mat-raised-button [disabled]="revalidationForm ? !revalidationForm.valid : true"
              (click)="saveDraft();" color="accent">
              Save draft
            </button>
            <button mat-button mat-raised-button matStepperNext
              [disabled]="revalidationForm ? !revalidationForm.valid : true" color="primary">
              Proceed
            </button>
            <span class="spacer"></span>
          </div>
        </mat-step>

        <mat-step [completed]="confirmationForm ? confirmationForm.valid : false">
          <app-revalidation-confirmation (notify)='onConfirmationForm($event)'></app-revalidation-confirmation>
          <div class="button-row">
            <button mat-button mat-raised-button matStepperPrevious>Back</button>
            <button mat-button mat-raised-button matStepperNext color="primary"
              [disabled]="confirmationForm ? !confirmationForm.controls['confirm'].value : true">
              Submit to GMC
            </button>
            <span class="spacer"></span>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </ng-container>



  </div>
</ng-container>