@import "~@angular/material/core/style/variables";

.button-row {
  margin: 48px 0;
  display: flex;
  flex-direction: row;

  @media screen and (#{$mat-small}) {
    margin: 32px 0 16px;
  }
}
.button-row button {
  display: table-cell;
  margin-right: 8px;
}
.mat-stepper-horizontal {
  overflow: hidden;
  width: 100%;
}
.revalidation-history {
  .mat-horizontal-stepper-header-container {
    display: none;
  }
  .mat-horizontal-content-container {
    padding-top: 24px;
  }
}
