<ng-container *ngIf="{ isHandset: isHandset$ | async }; let device">
  <mat-toolbar>
    <mat-toolbar-row>
      <ng-container *ngIf="device.isHandset">
        <mat-menu #traineeMenu="matMenu">
          <app-trainee-details></app-trainee-details>
        </mat-menu>

        <button mat-icon-button aria-label="Trainee details" [matMenuTriggerFor]="traineeMenu">
          <mat-icon aria-label="Trainee details">account_box</mat-icon>
        </button>
      </ng-container>

      <span class="spacer"></span>

      <button mat-icon-button aria-label="Add notes" (click)="openNotes()" color="primary">
        <mat-icon matBadge="4">speaker_notes</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="revalidation-history" [ngClass]="{ 'd-flex': !device.isHandset }">
    <div class="left-nav" *ngIf="!device.isHandset">
      <app-trainee-details></app-trainee-details>
    </div>

    <mat-divider *ngIf="!device.isHandset" [vertical]="true"></mat-divider>

    <ng-container *ngIf="revalidationHistory$ | async as revalidationHistory">
      <mat-horizontal-stepper #stepper linear>

        <mat-step label="history">
          <app-revalidation-table [recommendationsHistory]="revalidationHistory.recommendations">
          </app-revalidation-table>
          <div class="button-row">
            <button mat-button mat-raised-button matStepperNext color="primary">

              <ng-container *ngIf="recommendationHistory; else editMode">
                Create recommendation
              </ng-container>

              <ng-template #editMode>
                Edit recommendation
              </ng-template>
            </button>
            <span class="spacer"></span>
          </div>
        </mat-step>

        <mat-step [stepControl]="revalidationForm">
          <form class="revalidation-form w-100" [formGroup]="revalidationForm">
            <mat-form-field class="w-100">
              <mat-label>Select an action</mat-label>
              <mat-select formControlName="action">
                <mat-option>None</mat-option>
                <mat-option value="Revalidate">Revalidate</mat-option>
                <mat-option value="Defer">Defer</mat-option>
                <mat-option value="Non-Engagement">Non-Engagement</mat-option>
              </mat-select>
              <mat-error *ngIf="revalidationForm.controls['action']?.hasError('required')">
                Please select an action
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100" *ngIf="revalidationForm.controls['action']?.value === 'Defer'">
              <mat-label>Choose a date</mat-label>
              <input matInput formControlName="deferralDate" [matDatepicker]="picker">
              <mat-error *ngIf="revalidationForm.controls['deferralDate']?.hasError('required')">
                Date must be entered
              </mat-error>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="w-100" *ngIf="revalidationForm.controls['action']?.value === 'Defer'">
              <mat-label>Reason</mat-label>
              <input matInput placeholder="Reason for ..." formControlName="deferralReason">
              <mat-error *ngIf="revalidationForm.controls['deferralReason']?.hasError('required')">
                Reason must be provided
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100" formArrayName="comments">
              <mat-label>Leave a comment</mat-label>
              <ng-container *ngFor="let comment of comments.controls; let i=index">
                <textarea matInput [formControlName]="i" placeholder="comments..."></textarea>
              </ng-container>
            </mat-form-field>


          </form>
          <div class="button-row">
            <button mat-button mat-raised-button matStepperPrevious>Back</button>
            <button mat-button mat-raised-button [disabled]="revalidationForm ? !revalidationForm.valid : true"
              (click)="saveDraft();" color="accent">
              Save draft
            </button>
            <button mat-button mat-raised-button matStepperNext
              [disabled]="revalidationForm ? !revalidationForm.valid : true" color="primary">
              Proceed
            </button>
            <span class="spacer"></span>
          </div>
        </mat-step>

        <mat-step [stepControl]="confirmationForm">
          <form class="revalidation-form w-100" [formGroup]="confirmationForm">
            <div class="terms mat-body">
              <h2 class="mat-title">AGREEMENT TO TERMS</h2>

              <p>These Terms and Conditions constitute a legally binding agreement made between you, whether
                personally or on
                behalf of an entity (“you”) and Health Education England (“we,” “us” or “our”), concerning your access
                to and use
                of the [revalidation web services] website as well as any other media form, media channel, mobile
                website or
                mobile
                application related, linked, or otherwise connected thereto (collectively, the “Site”).</p>

              <p>You agree that by accessing the Site, you have read, understood, and agree to be bound by all of
                these Terms and
                Conditions. If you do not agree with all of these Terms and Conditions, then you are expressly
                prohibited from
                using the Site and you must discontinue use immediately.</p>

              <p>Supplemental terms and conditions or documents that may be posted on the Site from time to time are
                hereby
                expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make
                changes or
                modifications to these Terms and Conditions at any time and for any reason.</p>

              <p>We will alert you about any changes by updating the “Last updated” date of these Terms and
                Conditions, and you
                waive any right to receive specific notice of each such change.</p>

              <p>It is your responsibility to periodically review these Terms and Conditions to stay informed of
                updates. You
                will be subject to, and will be deemed to have been made aware of and to have accepted, the changes
                in any
                revised Terms and Conditions by your continued use of the Site after the date such revised Terms and
                Conditions
                are posted.</p>

              <p>The information provided on the Site is not intended for distribution to or use by any person or
                entity in any
                jurisdiction or country where such distribution or use would be contrary to law or regulation or
                which would
                subject us to any registration requirement within such jurisdiction or country.</p>

              <p>Accordingly, those persons who choose to access the Site from other locations do so on their own
                initiative and
                are solely responsible for compliance with local laws, if and to the extent local laws are
                applicable.</p>
            </div>
            <mat-divider></mat-divider>
            <section class="w-100 mt-20">
              <mat-slide-toggle class="example-margin" color="primary" [required]="true" formControlName="confirm">
                I confirm all relevant information has been considered
              </mat-slide-toggle>
            </section>

          </form>
          <div class="button-row">
            <button mat-button mat-raised-button matStepperPrevious>Back</button>
            <button mat-button mat-raised-button matStepperNext color="primary"
              [disabled]="confirmationForm ? !confirmationForm.controls['confirm'].value : true">
              Submit to GMC
            </button>
            <span class="spacer"></span>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </ng-container>



  </div>
</ng-container>