<div class="d-grid trainees-top-section align-items-center p-15">
  <app-trainee-filters></app-trainee-filters>
  <div class="d-grid justify-content-end">
    <app-trainee-search></app-trainee-search>
    <app-reset-trainee-list
      class="d-grid justify-content-end"
    ></app-reset-trainee-list>
  </div>
</div>

<div class="p-15">
  <app-trainee-list></app-trainee-list>
</div>

<div class="d-grid justify-content-center p-15">
  <app-trainee-list-paginator class="pt-10 pb-10"></app-trainee-list-paginator>
</div>
